



<% if @search.results.size > 0 %>
    <ul class="taxonomy-results">
      <% @search.results.each_with_index do |name, ndx| %>
        <li class="compact">
          <% if @search.parsed.show_details? &&
                ndx < session[:default_details_limit] %>
              <%= render partial: '/plants/taxonomy/accepted/search/details',
                     locals: {name: name} %>
              <br/>
          <% else %>
            <% target_id = new_target_id %>
            <% if name.class.to_s.match(/ApcSynonymVw/) %>
              <%= "#{name[:full_name]} = #{name[:cited_by_name_full_name]}" %>
            <% else %>
              <%= "#{name.full_name} = #{name.cited_by_instance_tree_nodes.first.name.full_name}" %>
            <% end %>

            <%#= link_to("#{name[:full_name]} = #{name[:cited_by_name_full_name]}",
                        plants_taxonomy_accepted_show_path(name[:id],target_id: target_id),
                        class: "drill-down-toggle",
                        data: {target_id: target_id},
                        title: "Select to show or hide details",
                        remote: true)
                      %>
            <% if false && name.show_status? %>
              <span class="name-status" title="Name Status"><%= name.status.name %></span>
            <% end %>
            <div id="<%= target_id %>" class="details"></div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

