  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "Biodiversity Australia",
                    welcome_path,
                    class: "bd-toc-link",
                    title: "Biodiversity Australia" %>
        <%= link_to "Vascular Plants",
                    plants_path,
                    class: "bd-toc-link",
                    title: "Vascular Plants" %>
        <%= link_to "APNI".html_safe,
                    plants_names_path,
                    class: "bd-toc-link",
                    title: "Vascular Plant Names" %>
        <%= link_to "APNI Name search",
                    plants_names_search_path,
                    class: "bd-toc-link",
                    title: "Search APNI names" %>
        <%= link_to "Names within a taxon",
                    plants_names_search_within_taxon_path(@name.id),
                    class: "bd-toc-link",
                    title: "Search APNI names" %>
        <hr>
        <ul class="nav bd-sidenav">
          <li class="bd-sidenav-active">
            <%= link_to "Summary",
                        plants_names_search_within_taxon_summary_path(@name.id),
                        class: "",
                        title: "Summary counts for names within a taxon" %>
          </li>
          <li class="active bd-sidenav-active">
            <%= link_to "Selected ranks #{fa_icon('check')}".html_safe,
                        plants_names_search_within_taxon_selected_ranks_path(@name.id),
                        class: "",
                        title: "Names in selected ranks within a taxon" %>
          </li>
          <li class="bd-sidenav-active">
            <%= link_to("All".html_safe,
                        plants_names_search_within_taxon_all_path(@name.id),
                        class: "",
                        title: "All names within a taxon")%>
          </li>
        </ul>
      </div>
  </nav>
