<%= @descendants.size %>
<%= "name".pluralize(@descendants.size) %>
<hr>

<%= form_tag(plants_names_search_within_taxon_selected_ranks_search_path,
             method: "get") do %>
  <% name.pg_ranked_descendant_counts.each do |d| %>
    <%# Some ranks are in square brackets, which messes with the params. %>
    <% unbracketed_rank = d['rank'].gsub(/[\[\]]/,'') %>
    <% if params[unbracketed_rank] == "1" %>
      <%= check_box_tag(unbracketed_rank, 1, checked: true) %>
    <% else %>
      <%= check_box_tag(unbracketed_rank, 1) %>
    <% end %>
    <%= label_tag(unbracketed_rank, "#{d['rank']}: #{number_with_delimiter(d['count'].to_i)}") %>
    <br>
  <% end %>
  <%= submit_tag("Show") %>
  <br><%= hidden_field_tag("id",name.id) %>
<% end %>

<hr>
<%= @descendants_at_ranks.size %>
<%= "name".pluralize(@descendants_at_ranks.size) %> in selected ranks
<br>
<br>
<ul>
<% @descendants_at_ranks.results.each do |d| %>
  <% target_id = new_target_id %>
  <li/>
    <%= link_to("#{d['full_name']}",
                 plants_names_show_path(
                 d["id"],
                 target_id: target_id),
                 class: "drill-down-toggle",
                 data: {target_id: target_id},
                 remote: true) %>
   <div id="<%= target_id %>" class="drill-down hidden-xs-up"></div>
<% end %>
</ul>
