      <% if taxon.cross_reference_to.misapplication? %>

        <% if taxon.cross_reference_to.pro_parte? %>
          <% pp_string = ', p.p.' %>
        <% else %>
          <% pp_string = '' %>
        <% end %>

        <% if @client_request.links? %>
          <%= link_to name_and_status_for_display(taxon.full_name_html, taxon.name_status_name, taxon.name_status_display?).html_safe,
                      show_name_path(id: taxon.id, search_form: 'names') + "#name-#{taxon.id}", title: "Show name details" %>
          <i class="syntax-highlight cross-reference-sensu">sensu</i>
          <%= taxon.cross_reference_to.as_misapplication.misapplying_author_string_and_year -%><%= pp_string %>
        <% else %>
          <%= name_and_status_for_display(taxon.full_name_html, taxon.name_status_name, taxon.name_status_display?).html_safe %>
          <i class="syntax-highlight cross-reference-sensu">sensu</i>
          <%= taxon.cross_reference_to.as_misapplication.misapplying_author_string_and_year -%><%= pp_string %>
        <% end %>

      <% else %>

        <% if taxon.cross_reference_to.pro_parte? %>
          <% pp_string = ' p.p.' %>
        <% else %>
          <% pp_string = '' %>
        <% end %>

        <span class="cross-reference-name">


        <% if @client_request.links? %>
          <%= link_to name_and_status_for_display(taxon.full_name_html, taxon.name_status_name, taxon.name_status_display?).html_safe,
                         show_name_path(id: taxon.id,
                                        search_form: 'names') + "#name-#{taxon.id}",
                         title: "Show name details" %><%= pp_string %>
        <% else %>
          <%= name_and_status_for_display(taxon.full_name_html, taxon.name_status_name, taxon.name_status_display?).html_safe %><%= pp_string %>
        <% end %>
        </span>

      <% end %>

      <%= '?' if taxon.cross_reference_to.doubtful? -%>=
        <% if @client_request.links? %>
          <b><%= link_to string_with_hybrid_symbol(taxon.cross_reference_to.full_name).html_safe,
                         show_name_path(id: taxon.cross_reference_to.name_id,
                                        search_form: 'names') + "#name-#{taxon.cross_referenced_full_name_id}",
                         title: "Show name details" %></b>
        <% else %>
          <b><%= string_with_hybrid_symbol(taxon.cross_reference_to.full_name).html_safe %></b>
        <% end %>
