  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "National Species List",
                    nsl_path,
                    class: "bd-toc-link",
                    title: "National Species List" %>
        <%= link_to "Flora",
                    flora_path,
                    class: "bd-toc-link",
                    title: "Flora" %>
        <%= link_to "Vascular Plants",
                    plants_path,
                    class: "bd-toc-link",
                    title: "Vascular Plants" %>
        <%= link_to "APC".html_safe,
                    plants_taxonomy_accepted_path,
                    class: "bd-toc-link",
                    title: "Vascular Plant Taxonomy - Accepted by the Australian Plant Census" %>
        <%= link_to "APC Name Search".html_safe,
                    plants_taxonomy_accepted_search_path,
                    class: "bd-toc-link",
                    title: "Australian Plant Census Name Search" %>
      <hr>
      <ul class="nav bd-sidenav">
          <li class="">
            <%= link_to "Accepted",
                        plants_taxonomy_accepted_search_accepted_path(q: params['q'], show_permalinks: params[:show_permalinks]),
                        title: "Search for accepted names only." %>
          </li>
          <li class="">
            <%= link_to "Excluded",
                        plants_taxonomy_accepted_search_excluded_path(q: params['q'], show_permalinks: params[:show_permalinks]),
                        title: "Search for excluded names only." %>
          </li>
          <li class="">
            <%= link_to "Synonyms",
                        plants_taxonomy_accepted_search_synonym_path(q: params['q'], show_permalinks: params[:show_permalinks]),
                        title: "Search for synonyms only." %>
          </li>
          <li class="">
            <%= link_to "Accepted and excluded&nbsp;#{fa_icon('check')}".html_safe,
                        plants_taxonomy_accepted_search_accepted_and_excluded_path(q: params['q'], show_permalinks: params[:show_permalinks]),
                        title: "Search for names that are accepted or excluded." %>
          </li>
          <li class="">
            <%= link_to "All",
                        plants_taxonomy_accepted_search_all_path(q: params['q'], show_permalinks: params[:show_permalinks]),
                        title: "Search for names that are accepted or excluded or synonyms." %>
          </li>
        </ul>
      </div>
      <%= render 'layouts/back_link' %>
  </nav>
    <br/>
      <span class="debug hidden-print">
        app/views/plants/taxonomy/accepted/search/accepted_and_excluded/_sidebar
      </span>

