  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "National Species Lists",
                    nsl_path,
                    class: "bd-toc-link",
                    title: "National Species Lists" %>
        <%= link_to "Flora",
                    flora_path,
                    class: "bd-toc-link",
                    title: "Flora" %>
        <%= link_to "Vascular Plants",
                    plants_path,
                    class: "bd-toc-link",
                    title: "Vascular Plants" %>
        <%= link_to ticked("APC"),
                    "#",
                    class: "bd-toc-link",
                    title: "Vascular Plant Taxonomy - Accepted by the Australian Plant Census" %>
        <hr>
        <ul class="nav bd-sidenav">
            <li class="">
              <%= link_to "APC Name Search",
                          plants_taxonomy_accepted_search_path,
                          class: "",
                          title: "Australian Plant Census Name search" %>
            </li>
        </ul>
        <%= render 'layouts/back_link' %>
      </div>
  </nav>
    <br/>
      <span class="debug hidden-print">
        app/views/plants/taxonomy/accepted/_sidebar
      </span>
