  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "Biodiversity Australia",
                    welcome_path,
                    class: "bd-toc-link",
                    title: "Biodiversity Australia" %>
        <%= link_to "Vascular Plants",
                    plants_path,
                    class: "bd-toc-link",
                    title: "Vascular Plants" %>
        <%= link_to "Other taxonomies",
                    plants_taxonomy_other_path,
                    class: "bd-toc-link",
                    title: "Other taxonomies" %>
        <hr>
        <ul class="nav bd-sidenav">
        <% Plants::Taxonomy::Other::TAXONOMIES.each_pair do | key, taxonomy | %>
          <% if params[:id] == key %>
            <li>
              <%= link_to(ticked(taxonomy[:name]),
                          plants_taxonomy_other_show_path(key)) %>
            </li> 
          <% else %>
            <li>
              <%= link_to(taxonomy[:name],
                          plants_taxonomy_other_show_path(key)) %>
            </li> 
          <% end %>
        <% end %>
        </ul>
        <%= render 'layouts/back_link' %>
      </div>
  </nav>
    <br/>
      <span class="debug hidden-print tiny">
        app/views/plants/taxonomy/other/_sidebar
      </span>
