<% if @name.present? %>
<div id="search-tools-slider" class="<%= 'hidden' unless @name.present? %> hidden-print">
      <div class="bd-toc-item active">
        <hr/>
        <ul class="nav bd-sidenav">
          <li>
            <span class="details-retrieved-entry">Details retrieved: 
              <span id="details-retrieved-count"></span>
            </span>
          </li>
          <li>
            <a href="#"
               id="retrieve-details-control"
               class="tiny retrieve-details-control control"
               title="Retrieve details, 50 at a time">Retrieve <span id="more-details-text" class="hidden-xs-up"> more</span> details
            </a>
          </li>
          <li>
            <% if params[:retrieve_details_on_load].present? && params[:retrieve_details_on_load].match(/true/) %>
              <a href="#"
                 id="always-retrieve-details-toggle"
                 class="tiny always-show-hide-all-toggle"
                 title="Always retrieve the first block of details.">Always retrieve details &nbsp; <%= fa_icon('check') %></a>
            <% else %>
              <a href="#"
                 id="always-retrieve-details-toggle"
                 class="tiny always-retrieve-details-toggle"
                 title="Always retrieve details after records are queried.  Up to 50.">Always retrieve details</a>
            <% end %>
          </li>
          <li>
              <a href="#"
                 id="collapse-details-control"
                 class="tiny collapse-details-control control hidden-xs-up"
                 title="Collapse retrieved details">Collapse retrieved
                 <span id="expanded-details-count"></span>
              </a>
          </li>
          <li>
              <a href="#"
                 id="expand-details-control"
                 class="tiny expand-details-control control hidden-xs-up"
                 title="Expand retrieved details that are collapsed or hidden">Expand retrieved
                 <span id="collapsed-details-count"></span>
              </a>
          </li>
          <hr/>
          <li>
            <a href="javascript:window.print()"
               class="tiny"
               title="Print the page">Print</a>
          </li>

            <li class="">
              <%= link_to "JSON",
                          "javascript:void(0);",
                          id: "json-search",
                          class: "tiny",
                          title: "Convert results to JSON." %>
            </li>
            <li class="">
              <%= link_to "CSV",
                          "javascript:void(0);",
                          id: "csv-search",
                          class: "tiny",
                          title: "Convert results to CSV." %>
            </li>

        </ul>
        <%= render partial: "/layouts/search_nav_links" %>
  </div>
</div>
<% end %>
