<% if @name.present? %>
<div id="search-tools-slider" class="<%= 'hidden' unless @name.present? %> hidden-print">
      <div class="bd-toc-item active">
        <hr/>
        <ul class="nav bd-sidenav">
          <li>
            <span class="details-retrieved-entry">Details retrieved: 
              <span id="details-retrieved-count"></span>
            </span>
          </li>
          <li>
            <a href="#"
               id="retrieve-details-control"
               class="tiny retrieve-details-control control"
               title="Retrieve details, 50 at a time">Retrieve <span id="more-details-text" class="hidden-xs-up"> more</span> details
            </a>
          </li>
          <li>
              <%= link_to "Always retrieve details #{fa_icon('check', id: 'always-details-toggle-switch-indicator', class: session[:always_details] ? '' : 'hidden-xs-up')}".html_safe,
                        always_details_path,
                 id:"always-retrieve-details-toggle",
                 class:"tiny always-retrieve-details-toggle",
                        title:"Always retrieve details on/off switch.",
                        method: :post,
                        remote: true %>
          </li>
          <li>
              <a href="#"
                 id="collapse-details-control"
                 class="tiny collapse-details-control control hidden-xs-up"
                 title="Collapse retrieved details">Collapse retrieved
                 <span id="expanded-details-count"></span>
              </a>
          </li>
          <li>
              <a href="#"
                 id="expand-details-control"
                 class="tiny expand-details-control control hidden-xs-up"
                 title="Expand retrieved details that are collapsed or hidden">Expand retrieved
                 <span id="collapsed-details-count"></span>
              </a>
          </li>
          <hr/>
          <li>
            <a href="javascript:window.print()"
               class="tiny"
               title="Print the page">Print</a>
          </li>

            <li class="">
              <%= link_to "JSON",
                          "javascript:void(0);",
                          id: "json-search",
                          class: "tiny",
                          title: "Convert results to JSON." %>
            </li>
            <li class="">
              <%= link_to "CSV",
                          "javascript:void(0);",
                          id: "csv-search",
                          class: "tiny",
                          title: "Convert results to CSV." %>
            </li>

        </ul>
        <%= render partial: "/layouts/search_nav_links" %>
  </div>
</div>
<% end %>

<br/>
<br/>
<br/>
<br/>
<span class="debug red tiny hidden-print">[plants/names/search/within/_slider]</span>

