<%= form_tag(plants_names_search_all_search_path, method: "get") do %>
  <div class="form-group row">
    <%= label_tag(:q,
                  "Search for:",
                  class:"sr-only col-sm-2 form-control-label") %>
  <div class="col-sm-10">
    <%= text_field_tag(:q,
                       '',
                       class: "form-control",
                       value: "#{params[:q]}",
                       placeholder: "Search all names") %>
    </div>
  <%= submit_tag("Search", class: "btn btn-search") %>
  </div>
<% end %>

<% if @search.present? %>
  <%= "<span class='search-result-summary'>#{pluralize(@search.results.size, 'name')}</span>".html_safe %>
<% end %>
<br/>
<br/>
<% if @search.present? %>
  <ul>
  <% @search.results.each do |result| %>
    <li/>
    <%= link_to("#{result[:full_name]}", plants_names_show_path(result[:id])) %>
  <% end %>
  </ul>
<% end %>
<span class="debug">[plants/names/search/all]</span>
