<% content_for :page_title do %>
  Vascular Plant Names
<% end %>
<% content_for :page_banner do %>
  <h1>Vascular Plants</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<h2>APNI</h2>

<% if @name.present? %>
  <div class="apni-name-display">
  <div class="family-name" title="Family name"><%= @name.family_name %></div>
  <span class="full-name" title="Full name"><%= @name.full_name %></span>
  <br/>
  <br/>
  <% shown = [] -%>
  <% apc_instance_id = @name.apc_instance_id -%>
  <% @name.instances_in_order.each do | instance | %>
    <% display, shown = display_instance(instance, shown, instance.id == apc_instance_id) -%>
    <%= display %>
  <% end %>
  </div>
<% end %>

<br/>
<br/>
<%= link_to "#{ fa_icon('chevron-left')} back".html_safe, 'javascript:history.go(-1);', id: "big-back-btn", class:"btn btn-secondary btn-lg btn-block micro gray", title: "Go back 1 page" %>
