<div class="row">
  <div class="col-xs-12">
<%= form_tag(names_search_path, method: "get", id: "search-form") do %>
    <%= label_tag(:q,
                  "Search for:",
                  class:"sr-only col-sm-2 form-control-label") %>
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-5 col-lg-5 col-xl-5">
    <%= search_field_tag(:q,
                       '',
                       class: "form-control",
                       name: "q",
                       value: "#{params[:q]}",
                       autofocus: true,
                       required: true,
                       title: "Enter a name with or without wildcards.",
                       placeholder: "Search Name Index") %>
    </div>
    <span class="hidden-md-up">&nbsp;&nbsp;&nbsp;</span>
    <div class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-8 col-md-6
                col-md-offset-5 col-lg-5 col-lg-offset-0 col-xl-4">

    <%= button_tag(id: "search-button", type: "submit", class: "btn white nsl-blue-bg hidden-print", title: "Search name index")  do %>
      <%= fa_icon('search') %>&nbsp;Name&nbsp;Index
    <% end %>
    <%= link_to("#{fa_icon('search')} Taxonomy".html_safe,
              taxonomy_accepted_search_path(q:''),
              id: "search-taxonomy-link",
              class: "alt-search-link btn btn-secondary hidden-print",
              title: "Switch to taxonomy search") %>
    <input type="hidden" 
           value="<%= session[:always_details].blank? ? false : session[:always_details] %>"
           name="retrieve_details_on_load"
           id="retrieve_details_on_load">
    <input type="hidden" 
           value="<%= params[:search_type].blank? ? 'scientific' : params[:search_type] %>"
           name="search_type"
           id="name_type">
    <input type="hidden" 
           value="html"
           name="format"
           id="search-output-format">
    <%= render partial: "toggle_wildcard/form_widget" %>
</div>
<% end %>
  </div>
  </div>
</div>
<span class="red hidden-print debug">[names/search/_form]</span>
