  <nav id="sidebar" class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <div id="sidebar-navigation-menu" class="">
        <%= link_to "National Species Lists",
                    nsl_path,
                    class: "bd-toc-link",
                    title: "National Species Lists" %>
        <%= link_to "Flora",
                    flora_path,
                    class: "bd-toc-link",
                    title: "Flora" %>
        <%= link_to menu_label,
                    root_path,
                    class: "bd-toc-link", 
                    title: shard.capitalize %>
        <%= link_to ticked("Name Index"),
                    names_search_path,
                    class: "bd-toc-link",
                    title: "Search the #{name_label_text}" %>
      </div>
      <hr/>
      <ul class="nav bd-sidenav">
        <li class="name-type-switch-item <%= 'active' if params[:search_type].blank? || params[:search_type].match(/\Ascientific\z/) %>">
            <%= link_to "Scientific&nbsp;#{fa_icon('check', class: "hide-unless-active")}".html_safe,
                        "javascript:void(0);",
                        class: "name-type-switch-link",
                        data: {switch_to: "scientific"},
                        title: "Search the Name Index for Scientific names." %>
          </li>
          <li class="name-type-switch-item <%= 'active' if params[:search_type].present? && params[:search_type].match(/\Acultivar\z/) %>">
            <%= link_to "Cultivar&nbsp;#{fa_icon('check', class: "hide-unless-active")}".html_safe,
                        "javascript:void(0);",
                        class: "name-type-switch-link",
                        data: {switch_to: "cultivar"},
                        title: "Search the Name Index for Cultivar names." %>
          </li>
          <li class="name-type-switch-item <%= 'active' if params[:search_type].present? && params[:search_type].match(/\Ascientific.and.cultivar\z/) %>">
            <%= link_to "Scientific and Cultivar&nbsp;#{fa_icon('check', class: "hide-unless-active")}".html_safe,
                        "javascript:void(0);",
                        class: "name-type-switch-link",
                        data: {switch_to: "scientific-and-cultivar"},
                        title: "Search the Name Index for scientific and cultivar names." %>
          </li>
          <li class="name-type-switch-item <%= 'active' if params[:search_type].present? && params[:search_type].match(/\Acommon\z/) %>">
            <%= link_to "Common&nbsp;#{fa_icon('check', class: "hide-unless-active")}".html_safe,
                        "javascript:void(0);",
                        class: "name-type-switch-link",
                        data: {switch_to: "common"},
                        title: "Search the Name Index for Common or informal names." %>
          </li>
          <% unless @search.present? %>
          <hr/>
          <li>
            <a href="#" class="about-link" data-target-selector="#about-page"
               title="Show or hide text about this page." >
              About <%= fa_icon("check", id: "about-link-tick", class: "tick hidden-xs-up") %>
            </a>
          </li>
          <% end %>
        </ul>
      </div>
  </nav>
  <span class="debug hidden-print">[names/search/_sidebar]</span>
