<% content_for :page_title do %>
  Name Index Search
<% end %>
<% content_for :page_banner do %>
  <h1 class="hidden-sm-down"><%= name_banner_text %></h1>
  <h1 class="hidden-md-up"><%= name_label %></h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "names/search/sidebar" %>
<% end %>
<% content_for :slider do %>
<% end %>

<div id="about-page" class="no-left-padding hidden-xs-up col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-12">
  <h5>About</h5>
  <div id="about-page-inner" class="no-left-padding col-xl-7 col-lg-9 col-md-10">
  </div>
</div>

<div class="not-about-page">
<%= render "names/search/form" %>
</div>

<div class="row">
  <div class="col-xs-12 col-lg-8">
    <% if @search.present? %>
      <span class='search-result-summary'>
        <%= pluralize(@search.results.pluck("id").uniq.size,
                      "#{(params[:search_type] || 'scientific').sub(/-and-/,' or ')} name") %>
        <%= no_results_help(@search.results.size).html_safe %>
      </span>
  <% end %>

  </div>
</div>

<% if @search.present? %>
  <%= render partial: '/names/search/results', locals: {search: @search, name: @search.results.first} %>
<% end %>

<span class="debug red tiny hidden-print">[names/search/index]</span>
