           <li><%= usage.reference_details.full_citation_with_page_html.html_safe %>
              <% if usage.accepted_in_accepted_tree? %>
                <span class='red' title='Accepted by APC'><i class="fa fa-check"></i>APC</span>
              <% end %>
              <% if usage.excluded_from_accepted_tree? %>
                <span class='red' title='Excluded by APC'><i class="fa fa-ban"></i>APC</span>
              <% end %>
              <% if usage.protologue? %>
                <%= link_to('<i class="protologue-icon fas fa-file-pdf"></i>'.html_safe,
                            usage.protologue_link,
                            title: "View the protologue for this name") %>
              <% end %>
              <% if usage.reference_details.has_bhl_url %>
                <%= link_to image_tag('bhl.svg', height: 10), usage.reference_details.bhl_url, title: 'View the Biodiversity Heritage Library (BHL) entry' %>
              <% end %>
              <ul class="plain indent4">

              <% usage.type_notes.each do |note| %>
                <li>
                <b><%= note.key %>:</b>
                <%= note.value.html_safe %>
                </li>
              <% end %>

              <%# Wrapped code to prevent " ;" instead of ";" %>
              <% usage.synonyms.each do |synonym| -%><% if synonym.misapplied? -%><% if synonym.misapplication_citation_details.name_is_repeated -%><%= render(partial: 'application/name_usages/with_links/misapplied_repeated_synonym', locals: {search_form: search_form, usage: usage, synonym: synonym}) -%><% else -%><%= render(partial: 'application/name_usages/with_links/misapplied_synonym', locals: {search_form: search_form, usage: usage, synonym: synonym}) -%><% end -%><% else -%><%= render(partial: 'application/name_usages/with_links/applied_synonym', locals: {search_form: search_form, usage: usage, synonym: synonym}) -%><% end -%><% end -%>
  
              <% if usage.misapplied? %>
              <li><%= usage.misapplication_details.misapplication_type_label %>:
                  <span class="misapplication">
                    <%= link_to usage.misapplication_details.misapplied_to_full_name,
                      show_name_path(id: usage.misapplication_details.misapplied_to_name_id,
                                     search_form: search_form) + '#name-' + usage.misapplication_details.misapplied_to_name_id,
                                    title: "Show name details in a new page" %> by
                <% usage.misapplication_details.misapplied_in_references.each do |in_ref| %>
                  <%= in_ref.citation -%>:<%= in_ref.page -%><%= in_ref.page_qualifier -%>;
              <% end %>
                  </span>
            <% end %>

            <% if usage.accepted_tree_details? %>
              <% if usage.accepted_in_accepted_tree? || usage.excluded_from_accepted_tree? %>
                <% if usage.accepted_tree_comment? %>
                  <li>
                  <b>
                  <%= usage.accepted_tree_comment_label %>:
                  </b>
                  <%= usage.accepted_tree_comment.html_safe %>
                  </li>
                <% end %>
                <% if usage.accepted_tree_distribution? %>
                  <li>
                  <b>
                  <%= usage.accepted_tree_distribution_label %>:
                  </b>
                  <%= usage.accepted_tree_distribution %>
                  </li>
                <% end %>
              <% end %>
            <% end %>

            <% if usage.non_current_accepted_tree_details? %>
                <% if usage.non_current_accepted_tree_comment? %>
                  <li>
                  <b>
                  <%= usage.non_current_accepted_tree_comment_label %>:
                  </b>
                  <%= usage.non_current_accepted_tree_comment.html_safe %>
                  </li>
                <% end %>
                <% if usage.non_current_accepted_tree_distribution? %>
                  <li>
                  <b>
                  <%= usage.non_current_accepted_tree_distribution_label %>:
                  </b>
                  <%= usage.non_current_accepted_tree_distribution %>
                  </li>
                <% end %>
            <% end %>

              <% usage.non_type_notes.each do |note| %>
                <li>
                <b><%= note.key %>:</b>
                <%= note.value.html_safe %>
                </li>
              <% end %>
            </ul>
