<h1>Name Search</h1>

<%= render partial: 'name_form' %>
<hr>

<div id="search-results">
<% if @search_term.present? %>
  <% unless @results.present? %>
  No results for "<%= @search_term %>"
  <% elapsed = Time.now - @start_time %>(<%= elapsed.round(2) %>s)
  <% end %>
<% end %>
<% if @results.present? %>
  <h2>
  <%= pluralize(@results.size,'name') %>
  found for "<%= @search_term %>"
  <% elapsed = Time.now - @start_time %>(<%= elapsed.round(2) %>s)
  </h2>

  <hr>

  <% @results.names.each do |name| %>
    <h3>[family]
      <%= name.full_name %>
      <%= name.name_status_name %>
    </h3>

      <% if @show_details %>
      <ul class="plain indent3">
        <% curr_ref_id = -1 %>
        <% name.usages.each do |usage| %>
          <% unless curr_ref_id == usage.reference_id %>
            <%= "</ul>".html_safe unless curr_ref_id == -1 %>
            <% curr_ref_id = usage.reference_id %>
            <% if usage.misapplied? %>
              <li><%= usage.citation_for_misapplied %>
              <ul class="plain indent4">
            <% else %>
              <li><%= usage.full_citation_with_page %>
              <ul class="plain indent4">
            <% end %>
            <% usage.synonyms.each do |synonym| %>
              <li class="indent"><span class="synonym-type"><%= synonym.label %>:</span>
              <%= synonym.full_name %><%= ": #{synonym.page}" unless synonym.page.blank? %>
            <% end %>
          <% end %>
            <% if usage.misapplied? %>
              <li>misapplied to:
                <%= usage.misapplied_to_name %>
                by
                <%= usage.misapplied_by_citation %>
                :
                <%= usage.misapplied_on_page %>
            <% end %>
            <% unless usage.notes.nil? %>
              <ul class="plain">
              <% usage.notes.each do |note| %>
                <li>
                <b><%= note.key %>:</b>
                <%= note.value %>
              <% end %>
              </ul>
            <% end %>
        <% end %>
    <% end %>
    <% if @show_details %>
      </ul>
    </ul>
    <% end %>
  <% end %>
  <hr>
  <% elapsed = Time.now - @start_time %>
  <%= elapsed.round(2) %> seconds (~<%= (@search.data.name_search.names.size/elapsed).round %> records/second) (index.html)
<% end %>
</div>

<pre>
<%#= simple_format @search.try('to_yaml') %>
</pre>
