<% if name.present? %>
  <% show_dist = false %>
  <div class="name-details">
  <% shown = [] -%>
  <% apc_instance_id = name.apc_instance_id -%>
  <% name_details.each do | name_detail | %>
    <div class="instance-citation from-partial">
    <% unless shown.include?(name_detail.instance_id) %>
      <div class="standalone-instance-citation">
      <%= name_detail.entry.sub(/: \z/,'').html_safe %>
      <% if name_detail.instance_id == name.apc_instance_id %>
        <% if name_detail.instance.accepted_name.type_code.match(/Concept\z/) %>
          <% show_dist = true %>
          <% apc_dist = name_detail.instance_note_for_distribution.try("value") %>
          <% apc_comment = name_detail.instance_note_for_comment.try("value") %>
          <% show_comment = apc_comment.present? %>
        <% end %>
        <span class="accepted-or-excluded-indicator red">
          <% case name_detail.instance.accepted_name.type_code %>
          <% when 'ApcConcept' %>
            <span title="<%= %Q(#{ tree_label } Concept) %>" ><%= fa_icon('check', class: 'fa-lg green') %><%= tree_label %></span>
          <% when 'ApcExcluded' %>
            <span title="Excluded from #{ tree_label }"><%= fa_icon('ban', class: 'fa-lg red') %><%= tree_label %></span>
          <% end %>
        </span>
      <% end %>
      <% if name_detail.bhl_url.present? %>
        <%= link_to("BHL #{fa_icon('external-link')}".html_safe,
                    name_detail.bhl_url,
                    class: "bhl-link external-link opens-in-new-tab-or-window",
                    target: "_blank",
                    title: "Link to Biodiversity Heritage Library source page. (Opens in a new tab or window)") %>
      <% end =%>
      </div>

        <% name_detail.instance_notes_for_details.only_type_notes.sort {|x,y| x.instance_note_key.sort_order <=> y.instance_note_key.sort_order }.each do |note| %>
          <div class="instance-note">
            <span class="instance-note-label"><%= note.instance_note_key.name %>:</span>
            <span class="instance-note-value">
              <%= note.marked_up_value.html_safe %>
            </span>
          </div>
        <% end %>

      <ul class='name-details-and-synonyms'>
        <% name_detail.name_detail_synonyms.sort {|x,y| [x.instance_type_sort_order, x.full_name, x.cites.reference.year] <=> [y.instance_type_sort_order, y.full_name, y.cites.reference.year] }.each do |syn| %>
          <li class='compact subordinate-instance'>
            <span class="synonym-type">
              <%= syn.label %>
            </span>
            <%= link_to(syn.full_name_html.html_safe,
                        names_show_path(syn.name_id),
                        class: "synonym") %>
            <% if syn.shows_cites_reference? %>
              <%= "by" if syn.label.match(/misapplication/) %>
              <% if syn.cites.page.present? %>
                <%= "#{syn.cites.reference.citation_html}:".html_safe %>
              <% else %>
                <%= syn.cites.reference.citation_html.html_safe %>
              <% end %>
              <%= syn.cites.page %> <%= syn.cites.page_qualifier %>
            <% end %>
          </li>
        <% end %>
        <%= render(partial: "names/instances_cited_by", locals: {name_detail: name_detail}) %>

        <% name_detail.instance_notes_for_details.without_type_notes.sort {|x,y| x.instance_note_key.sort_order <=> y.instance_note_key.sort_order }.each do |note| %>
          <div class="instance-note">
            <span class="instance-note-label"><%= note.instance_note_key.name %>:</span>
            <span class="instance-note-value">
              <%= note.marked_up_value.html_safe %>
            </span>
          </div>
        <% end %>

        <% if show_comment %>
          <div class="classification-tree-note">
            <span class="instance-note-label"><%= tree_label %> comment: </span>
            <span class="classification-tree-value"><%= apc_comment.html_safe %></span>
          </div>
          <% show_comment = false %>
        <% end %>

        <% if show_dist %>
          <div class="classification-tree-note"><span class="instance-note-label"><%= tree_label %> distribution: </span><%= apc_dist %></span></div>
          <% show_dist = false %>
        <% end %>

        <% name_detail.name_detail_commons.sort {|x,y| [x.instance_type_sort_order, x.full_name] <=> [y.instance_type_sort_order, y.full_name] }.each do |syn| %>
          <li class='compact subordinate-instance'>
            <span class="synonym-type">
              <%= syn.instance_type_name %>
            </span>
          <%= link_to(syn.full_name_html.html_safe,
                      names_show_path(syn.name_id),
                      class: "") %>
          </li>
        <% end %>


      </ul>
      <% end %>
    </div>
    <% shown.push name_detail.instance_id %>
  <% end %>
  <% show_power_links = true if show_power_links.nil? %>
  <% if show_power_links %>
    <% if name.direct_sub_taxa_with_instance_count > 0 %>
      <%= render(partial: '/names/search/power_links', locals: {name: name}) %>
    <% end %>
  <% end %>
  </div>
<% end %>

<span class="debug">names/_details_extra.html.erb</span>

