<div class="instance synonymy start">
  <% if instance.standalone? %>
    <%= render(partial: "standalone_instance", locals: {name_reference: name_reference, instance: instance}) %>
  <% elsif name_reference.instance_type.misapplied? %>
    <%= render(partial: "misapplied_relationship_instance", locals: {name_reference: name_reference, instance: instance}) %>
  <% else %>
    <%= render(partial: "relationship_instance", locals: {name_reference: name_reference, instance: instance}) %>
  <% end %>
  <%= render(partial: "tree_comment", locals: {instance: instance}) %>
  <%= render(partial: "tree_distribution", locals: {instance: instance}) %>
  <%= render(partial: "common_names", locals: {name_reference: name_reference, instance: instance}) %>
</div>
