<h1><%= @name_label %> Search</h1>

<%= render partial: 'names/index/search_form' %>
<hr>
<%= link_to('clear form', name_search_path,name: 'x', title: clear_form_link_hover_text) %> |
<%= link_to('advanced', names_advanced_search_path, title: 'Go to advanced name search') %> |
<%= link_to('taxonomy', taxonomy_search_path, title: taxonomy_link_hover_text) %> |
<%= link_to('name check', name_check_path, title: name_check_link_hover_text) %>
<hr>
<div id="search-result-summary">
  <% if @search.present? %>
    <%= render partial: 'name_search_result_summary' %>
    <% if @results.present? %>
      <%= render partial: 'names/index/pagination' %>
    <% end %>
  <% end %>
</div>

<div id="search-results">
  <% if @results.present? %>
    <%= render partial: @client_request.content_partial, locals: { search_form: 'names' } %>
    <hr>
    <%= render partial: 'names/index/pagination' %>
  <% end %>
</div>


<div id="timing-summary">
  <% if @results.present? %>
    <%= render partial: 'result_timing_summary' %>
  <% end %>
</div>

