<h1><%= @name_label %> Record Details</h1>
<% unless params[:search_form].blank? %>
  <%= render partial: "#{params[:search_form]}/index/search_form" %>
  <hr>
  <%= link_to('clear form', name_search_path,name: 'x', title: clear_form_link_hover_text) %> |

  <% if params[:search_form] == "advanced_names" %>
    <%= link_to('simple', name_search_path, title: 'Go to simple name search') %> |
  <% else %>
    <%= link_to('advanced', names_advanced_search_path, title: 'Go to advanced name search') %> |
  <% end %>
  <%= link_to('taxonomy', taxonomy_search_path,title: taxonomy_link_hover_text) %>
  <hr>
<% end %>
<div class='name-details-block'>
<%= render partial: 'name_detail' %>
</div>
