<h1><%= @name_label %> Record Details</h1>
<%= render partial: "#{params[:search_form]}/index/search_form" %>
<hr>
<%= link_to('new search', name_search_path,name: 'x', title: 'Clear fields and start a new name search') %> |
<%= link_to('advanced', names_advanced_search_path(link_params: params),title: 'Go to advanced name search') %> |
<%= link_to('taxonomy', taxonomy_search_path(link_params: params),title: 'Go to taxonomy search') %>
<hr>
<div class='name-details-block'>
<%= render partial: 'name_detail' %>
</div>
