<% content_for :page_title do %>
  <%= @name.full_name unless @name.blank? %>
<% end %>
<% content_for :page_banner do %>
  <h1>Name details</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<%= render "names/search/form" %>
<br>
<br>
<% unless @name.blank? %>
  <strong><%= @name.full_name %></strong>
  <% if @name.show_status? %>
    <span class="name-status" title="Name Status"><%= @name.status_name %></span>
  <% end %>
  <% if session[:editor] %>
    <%= render(partial: "/names/search/editor_link.html.erb", locals: { name: @name }) %>
  <% end %>
  <%# cache @name do %>
    <%= render partial: "references", locals: {name: @name, name_references: @name_details} %>
  <%# end %>
  <br/>
  <br/>
  <%= link_to "#{ fa_icon('chevron-left')} back".html_safe,
              'javascript:history.go(-1);',
              id: "big-back-btn",
              class:"btn btn-secondary btn-lg btn-block micro gray",
              title: "Go back 1 page" %>
<% end %>

<span class="debug">names/show.html.erb</span>
