<% if @search.present? %>
<div id="search-tools-slider" class="<%= 'hidden' unless @search.present? %> hidden-print">
      <div class="bd-toc-item active">
        <ul class="nav bd-sidenav">
          <li class="">
            <%= link_to %(List &nbsp; #{fa_icon('check') if @search.parsed.show_list?}).html_safe,
                        plants_taxonomy_accepted_search_excluded_path(q: params['q'], show_results_as: "list", show_permalinks: params[:show_permalinks]),
                        class: "tiny needs-details-limit",
                        title: "List results." %>
          </li>
          <li class="">
            <%= link_to %(Comments &nbsp; #{fa_icon('check') if @search.parsed.show_details?}).html_safe,
                        plants_taxonomy_accepted_search_excluded_path(q: params['q'], show_results_as: "details", show_permalinks: params[:show_permalinks]),
                        class: "tiny",
                        title: "List results with optional comments." %>
          </li>
          <hr/>
          <li class="">
            <%= link_to %(Citation links &nbsp; #{fa_icon('check') if @search.parsed.show_permalinks?}).html_safe,
                        plants_taxonomy_accepted_search_excluded_path(q: params['q'], show_results_as: params[:show_results_as], show_permalinks: params[:show_permalinks] != "true"),
                        class: "tiny",
                        title: "Add permalinks to the results." %>
          </li>
          <hr/>
          <li>
            <a href="javascript:window.print()"
               class="tiny"
               title="Print the page">Print</a>
          </li>
          <% if @search.parsed.show_list? %>
            <li class="">
              <%= link_to "JSON",
                          plants_taxonomy_accepted_search_excluded_path(q: params['q'], show_results_as: params[:show_results_as], format: :json),
                          class: "tiny needs-details-limit",
                          title: "Convert results to JSON." %>
            </li>
            <li class="">
              <%= link_to "CSV",
                          plants_taxonomy_accepted_search_excluded_path(q: params['q'], show_results_as: params[:show_results_as], format: :csv),
                          class: "tiny needs-details-limit",
                          title: "Convert results to CSV." %>
            </li>
        <% end %>
        </ul>
        <hr/> &nbsp;
        <%= render partial: "/layouts/search_nav_links" %>
  </div>
  </div>
    <br/>
      <span class="debug tiny hidden-print">
        app/views/plants/taxonomy/accepted/search/accepted/_slider
      </span>
<% end %>

