<div id="form-div">
<%= form_tag(name_check_search_path, method: :get) %>
<br>
<textarea rows="4"
          cols="50"
          name='q'
          value="<%= params['q'] %>"
          required
          title="Text area for search terms"><%= params['q'] %></textarea>
<br>
<%= label_tag(:list_or_tabular_tabular, "Tabular", title: 'Tabular output - can show more information than list output') %>
    <%= radio_button_tag(:list_or_tabular, "tabular", @client_request.tabular?, title: 'Tabular output of matching names') %>
<%= label_tag(:list_or_tabular_list, "List", title: 'List output - matching names only') %>
    <%= radio_button_tag(:list_or_tabular, "list", @client_request.list?, title: 'List of matching names') %>

<hr>

<input type="submit"
       value="Search"
       class="left-aligned-form-button"
       title="Search the data and retrieve matching records">

</form>
</div>

