<div id="form-div">
<%= form_tag(name_check_search_path, method: :get) %>
<br>
<textarea rows="4"
          cols="50"
          name='q'
          value="<%= params['q'] %>"
          required
          title="Text area for search terms"><%= params['q'] %></textarea>
<br>
    <%= radio_button_tag(:list_or_tabular, "tabular", @client_request.tabular?, title: 'Tabular output of matching names') %>
    <%= label_tag(:list_or_tabular_tabular, "Table", title: 'Tabular output - can show more information than list output') %>
<br>
    <%= radio_button_tag(:list_or_tabular, "list", @client_request.list?, title: 'List of matching names') %>
    <%= label_tag(:list_or_tabular_list, "List", title: 'List output - matching names only') %>

<hr>
    <%= check_box_tag(:show_links, '1', @client_request.links?, title: name_check_show_links_hover_text) %>
    <%= label_tag(:show_links, "Links", title: name_check_show_links_hover_text) %>
<br>

Results limit:
<br>
    <input type="number"
           name="limit"
           title="Number of records per page when details is not checked."
           min="1"
           max="500"
           step="1"
           value="<%= params[:limit] || 50 %>"
           class="form-field"> 
<br>

<input type="submit"
       value="Search"
       class="left-aligned-form-button"
       title="Search the data and retrieve matching records">

</form>
</div>

