<hr>
Sample searches 
<select id="name-search-samples" class="search-samples" title="Choose a sample search">
  <option value="">Select a search to run it immediately</option>
  <option value="<%= accepted_name_list_url('Diospyros rugosula')%>">Accepted names matching Diospyros rugosula</option>
  <option value="<%= cross_reference_name_list_url('Diospyros bundyana')%>">Cross references matching Diospyros bundyana</option>
  <option value="<%= cross_reference_name_list_url('Angophora')%>">Cross references matching Angophora</option>

  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="<%= accepted_name_list_url('Hibbertia aspera')%>">Accepted names matching Hibbertia aspera</option>
  <option value="<%= cross_reference_name_list_url('Hibbertia aspera')%>">Cross references matching Hibbertia aspera</option>
  <option value="<%= cross_reference_name_list_with_links_url('Hibbertia aspera')%>">Cross references matching Hibbertia aspera with links</option>
  <option value="<%= accepted_and_excluded_name_list_with_links_url('Hibbertia a')%>">Accepted and Excluded names matching 'Hibbertia a' with links</option>

  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="<%= cross_reference_name_list_url('Diospyros cordifolia')%>">Cross references matching Diospyros cordifolia</option>
  <option value="<%= cross_reference_name_list_url('Diospyros rugosula')%>">Cross references matching Diospyros rugosula</option>
  <option value="<%= cross_reference_name_list_url('Cryptandra propinqua')%>">Cross references matching Cryptandra propinqua</option>
  <option value="<%= cross_reference_name_list_url('livistona alfredii')%>">Cross references matching livistona alfredii</option>
  <option value="<%= cross_reference_name_list_url('hibbertia acicularis')%>">Cross references matching hibbertia acicularis</option>
  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>
  <option value="<%= accepted_name_list_with_synonyms_url('Diospyros rugosula')%>">Accepted names matching Diospyros rugosula with synonyms</option>

  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="<%= accepted_name_list_with_synonyms_url('Angophora costata')%>">Accepted names matching Angophora costata with synonyms</option>
  <option value="<%= accepted_name_list_with_links_synonyms_url('Angophora costata')%>">Accepted names matching Angophora costata with links and synonyms</option>
  <option value="<%= accepted_name_list_with_links_synonyms_comments_url('Angophora costata')%>">Accepted names matching Angophora costata with links, synonyms and comments</option>
  <option value="<%= accepted_name_list_with_links_synonyms_comments_distribution_url('Angophora costata')%>">Accepted names matching Angophora costata with links, synonyms, comments and distribution</option>

  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="<%= accepted_name_list_with_comments_url('Angophora costata subsp. costata')%>">Accepted names matching Angophora costata subsp. costata with comments</option>
  <option value="<%= accepted_name_list_with_distribution_url('Angophora costata subsp. costata')%>">Accepted names matching Angophora costata subsp. costata with distribution</option>
  <option value="<%= accepted_name_list_with_comments_distribution_url('Angophora costata subsp. costata')%>">Accepted names matching Angophora costata subsp. costata with comments and distribution</option>

  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="<%= accepted_excluded_name_list_with_comments_url('Angophora c')%>">Accepted and Excluded names matching 'Angophora c' subsp. costata with comments</option>
  <option value="<%= accepted_excluded_name_list_with_distribution_url('Angophora c')%>">Accepted and Excluded names matching 'Angophora c' subsp. costata with distribution</option>
  <option value="<%= accepted_excluded_name_list_with_comments_distribution_url('Angophora c')%>">Accepted and Excluded names matching 'Angophora c' subsp. costata with comments and distribution</option>
</select>
