<div id="form-div">
<%= form_tag(taxonomy_search_path, method: :get) %>
<input name='q'
       type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['q'] %>"
       required=""
       placeholder="Search Term"
       title="Enter a search term - a name or part of a name."
       autofocus="true">
<div id="search-field-help" class="general-help field-help hidden">
  <div class="hide-this-help-link-container text-align-right">
    <a href="" class="hide-this-help-link" data-target-id="search-field-help" title="Hide this help." >x</a>
  </div>
  <ul class="help">
    <li> Search terms are matched against taxon names.
    <li> Upper and lower case is ignored.
    <li> You can supply wildcards (*).
    <li> A trailing wildcard is added automatically.
  </ul>
</div>

<%= render partial: "taxonomy/index/widgets" %>

<input name='sample_search_option_index'
       id='sample_search_option_index'
       type="hidden"
       value="<%= params[:sample_search_option_index] %>" autofocus="true"
       title="Sample search option index - should be hidden.">

<input type="submit"
       value="Search"
       class="left-aligned-form-button"
       title="Search the data and retrieve matching records">

<%= render partial: "taxonomy/index/sample_searches" %>
</form>
</div>
