<hr>
<b>Include:</b>
<br>
    <%= check_box_tag(:accepted_names, '1', @client_request.accepted_name? || params.size == 2,
                      title: accepted_name_cb_hover_text) %>
    <%= label_tag(:accepted_names, "Accepted Names", title: accepted_name_cb_hover_text) %>

<div id="accepted-names-field-help" class="general-help field-help hidden">
  <div class="hide-this-help-link-container text-align-right">
    <a href="" class="hide-this-help-link" data-target-id="accepted-names-field-help" title="Hide this help." >x</a>
  </div>
  <ul class="help">
    <li> Accepted names are ...
  </ul>
</div>

<br>
    <%= check_box_tag(:excluded_names, '1', @client_request.excluded_name? || params.size == 2,
                      title: excluded_name_cb_hover_text) %>
    <%= label_tag(:excluded_names, "Excluded Names", title: excluded_name_cb_hover_text) %>
<div id="excluded-names-field-help" class="general-help field-help hidden">
  <div class="hide-this-help-link-container text-align-right">
    <a href="" class="hide-this-help-link" data-target-id="excluded-names-field-help" title="Hide this help." >x</a>
  </div>
  <ul class="help">
    <li> Excluded names are ...
  </ul>
</div>
<br>
    <%= check_box_tag(:cross_references, '1', @client_request.cross_reference? || params.size == 2,
                      title: cross_references_cb_hover_text) %>
    <%= label_tag(:cross_references, "Cross References", title: cross_references_cb_hover_text) %>
<div id="cross-references-field-help" class="general-help field-help hidden">
  <div class="hide-this-help-link-container text-align-right">
    <a href="" class="hide-this-help-link" data-target-id="cross-references-field-help" title="Hide this help." >x</a>
  </div>
  <ul class="help">
    <li> Cross references are ...
  </ul>
</div>
<hr>
    <%= radio_button_tag(:list_or_count, "list", !@client_request.just_count?, title: 'List matching names') %>
    <%= label_tag(:list_or_count_list, "List", title: 'List matching names') %>
<br>
    <%= radio_button_tag(:list_or_count, "count", @client_request.just_count?, title: 'Count matching names') %>
    <%= label_tag(:list_or_count_count, "Count", title: 'Count matching names') %>

<div id="list-or-count-field-help" class="general-help field-help hidden">
  <div class="hide-this-help-link-container text-align-right">
    <a href="" class="hide-this-help-link" data-target-id="list-or-count-field-help" title="Hide this help." >x</a>
  </div>
  <ul class="help">
    <li>You can choose to <em>count</em> the matching names or to be provided with a <em>list</em> of them.
    <li>Counting is faster, especially for large searches, and may be useful for exploring the dataset.
    <li>Lists are sorted.
    <li>Lists may be paginated, depending on the total number of results and the limits selected. (See below.)
    <li>Lists also give a total count of matches.
  </ul>
</div>

<hr>
<b>For lists also show:</b>
<br>
    <%= check_box_tag(:show_links, '1', @client_request.links?, title: show_links_hover_text) %>
    <%= label_tag(:show_links, "Links", title: show_links_hover_text) %>

<div id="show-links-field-help" class="general-help field-help hidden">
  <div class="hide-this-help-link-container text-align-right">
    <a href="" class="hide-this-help-link" data-target-id="show-links-field-help" title="Hide this help." >x</a>
  </div>
  <ul class="help">
    <li>Listed names can be plain text, or hyperlinks.
    <li>If links are displayed and followed they will lead to a full page of details for the selected name.
  </ul>
</div>

<br>
    <%= check_box_tag(:show_synonyms, '1', @client_request.synonyms?,
                      title: show_synonyms_hover_text) %>
    <%= label_tag(:show_synonyms, "Synonyms", title: show_synonyms_hover_text) %>


<div id="show-synonyms-field-help" class="general-help field-help hidden">
  <div class="hide-this-help-link-container text-align-right">
    <a href="" class="hide-this-help-link" data-target-id="show-synonyms-field-help" title="Hide this help." >x</a>
  </div>
  <ul class="help">
    <li> You can show synonyms or not...
  </ul>
</div>

<% if Rails.configuration.try('show_accepted_tree_comments_field') %>
  <br>
      <%= check_box_tag(:show_comments, '1', @client_request.comments?,
                        title: show_comments_hover_text) %>
      <%= label_tag(:show_comments, "Comments", title: show_comments_hover_text) %>

<div id="show-comments-field-help" class="general-help field-help hidden">
  <div class="hide-this-help-link-container text-align-right">
    <a href="" class="hide-this-help-link" data-target-id="show-comments-field-help" title="Hide this help." >x</a>
  </div>
  <ul class="help">
    <li> You can show comments or not...
  </ul>
</div>

<% end %>

<% if Rails.configuration.try('show_accepted_tree_distribution_field') %>
<br>
    <%= check_box_tag(:show_distribution, '1', @client_request.distribution?,
                      title: show_distribution_hover_text) %>
    <%= label_tag(:show_distribution, "Distribution", title: show_distribution_hover_text) %>

<div id="show-distribution-field-help" class="general-help field-help hidden">
  <div class="hide-this-help-link-container text-align-right">
    <a href="" class="hide-this-help-link" data-target-id="show-distribution-field-help" title="Hide this help." >x</a>
  </div>
  <ul class="help">
    <li> You can show distribution or not...
  </ul>
</div>

<% end %>

<hr>

<b>If list, results per page:</b>
<br>
    <input type="number"
           name="limit_per_page_for_list"
           title="Number of records per page when details is not checked."
           min="1"
           max="500"
           step="1"
           value="<%= params[:limit_per_page_for_list] || 50 %>"
           class="form-field"> 

<div id="limit-per-page-field-help" class="general-help field-help hidden">
  <div class="hide-this-help-link-container text-align-right">
    <a href="" class="hide-this-help-link" data-target-id="limit-per-page-field-help" title="Hide this help." >x</a>
  </div>
  <ul class="help">
    <li> You can set the number of names per page....
  </ul>
</div>

<br>
