<%= form_tag(plants_names_search_cultivar_path, method: "get", id: "search-form") do %>
  <div class="form-group row">
    <%= label_tag(:q,
                  "Search for:",
                  class:"sr-only col-sm-2 form-control-label") %>
  <div class="col-sm-10">
    <%= text_field_tag(:q,
                       '',
                       class: "form-control",
                       value: "#{params[:q]}",
                       autofocus: true,
                       placeholder: "Search cultivar names") %>
    </div>
    <input type="hidden" 
           min="0"
           max="1000"
           step="1"
           value="<%= session[:default_details_limit] %>"
           name="details_limit"
           id="details-limit"
           class="">
  <%= submit_tag("Search", class: "btn btn-search hidden-print") %>
  </div>
<% end %>

<% if @search.present? %>
  <%= "<span class='search-result-summary'>#{pluralize(@search.results.size, 'cultivar')}</span>".html_safe %>
<% end %>
<br/>
<br/>

<% if @search.present? %>
  <%= render partial: '/plants/names/search/results', locals: {search: @search, name: @search.results.first} %>
<% end %>
<span class="debug hidden-print">[plants/names/search/cultivar]</span>
