<% hide_me = params['rank'].blank? && !params['search'].blank? %>
  <tr class="<%= 'hidden' if hide_me %>">
    <td colspan="2"> <hr> </td>
  </tr>

  <tr class="<%= 'hidden' if hide_me %>">
    <td class="label">
      Rank:
    </td>
    <td>
      <%= select_tag(:rank, options_for_select(@rank_options, params['rank']),
                     name: 'rank', class: "form-field width40pc min-width10em max-width30em",
                     include_blank: true, value: "#{params['rank']}",
                     title:"Enter a rank abbreviation for the search.") %>

    </td>
  </tr>
  <tr id="rank-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="rank-field-help" title="Hide this help." >x</a></div>
To limit your search to a particular taxonomic rank, select it from the dropdown list.
    </td>
  </tr>
  <tr class="<%= 'hidden' if hide_me %>">
    <td></td>
    <td>
      <%= check_box_tag(:include_ranks_below, '1', params['include_ranks_below'], 
                        title: include_ranks_below_hover_text) %>
      <%= label_tag(:include_ranks_below,
              "Include&nbsp;ranks&nbsp;below".html_safe,
              title: include_ranks_below_hover_text) %>
    </td>
  </tr>
  <tr id="include-ranks-below-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="include-ranks-below-field-help" title="Hide this help." >x</a></div>
      Used in combination with the "Rank" dropdown, this option will return matching names of a given taxonomic rank plus any subordinate ranks.
    </td>
  </tr>

