
           <li><%= usage.reference_details.full_citation_with_page_html.html_safe %>
              <% if usage.accepted_in_tree %>
                <span class='red' title='Accepted by APC'><i class="fa fa-check"></i>APC</span>
              <% end %>
              <% if usage.reference_details.excluded_from_tree %>
                <span class='red' title='Excluded by APC'><i class="fa fa-ban"></i>APC</span>
              <% end %>
              <ul class="plain indent4">

              <% usage.synonyms.each do |synonym| %>
                <% if synonym.misapplied? %>
                  <% if synonym.misapplication_citation_details.name_is_repeated %>
                    <%= render(partial: 'application/name_usages/without_links/misapplied_repeated_synonym',
                               locals: {search_form: search_form, usage: usage, synonym: synonym}) %>
                  <% else %>
                    <%= render(partial: 'application/name_usages/without_links/misapplied_synonym',
                               locals: {search_form: search_form, usage: usage, synonym: synonym}) %>
                  <% end %>
                <% else %>
                  <%= render(partial: 'application/name_usages/without_links/applied_synonym',
                             locals: {search_form: search_form, usage: usage, synonym: synonym}) %>
                <% end %>
              <% end %>



            <% if usage.misapplied? %>
              <li><%= usage.misapplication_details.misapplication_type_label %>:
                  <span class="misapplication">
                    <%= usage.misapplication_details.misapplied_to_full_name %> by
                <% usage.misapplication_details.misapplied_in_references.each do |in_ref| %>
                  <%= in_ref.citation -%>:<%= in_ref.page -%><%= in_ref.page_qualifier -%>;
                <% end %>
                  </span>:
            <% end %>

            <% unless usage.notes.nil? %>
              <ul class="plain">
              <% usage.notes.each do |note| %>
                <li>
                <b><%= note.key %>:</b>
                <%= note.value.html_safe %>
              <% end %>
              </ul>
            <% end %>
            </ul>
