
<% option_index = params[:sample_search_option_index].to_i %>

Sample searches 
<select id="sample_searche" name="sample_search" class="search-samples" value="<%= params[:sample_search] %>" title="Choose a sample search">
  <option value="">Sample searches, select to run.</option>

  <optgroup label="Name type common, cultivar, scientific combinations">
  <% option_number = 1 %>
  <option value="<%= advanced_list_url(option_number,
                                       search_term: 'bank*om*',
                                       common_name: true) 
                                       %>"
          <%= 'selected' if option_index == option_number %> >bank*om* common
  </option>

  <% option_number += 1 %>
  <option value="<%= advanced_list_url(option_number,
                                       search_term: 'bank*om*',
                                       cultivar_name: true) 
                                       %>"
          <%= 'selected' if option_index == option_number %> >bank*om* cultivar
  </option>

  <% option_number += 1 %>
  <option value="<%= advanced_list_url(option_number,
                                       search_term: 'bank*om*',
                                       common_name: true, 
                                       cultivar_name: true) 
                                       %>"
         <%= 'selected' if option_index == option_number %> >
         bank*om* common and cultivar
  </option>

  <% option_number += 1 %>
  <option value="<%= advanced_list_url(option_number,
                                       search_term: 'bank*om*',
                                       common_name: true, 
                                       scientific_name: true, 
                                       cultivar_name: true) 
                                       %>"
         <%= 'selected' if option_index == option_number %> >
         bank*om* common, cultivar, and scientific
  </option>

  </optgroup>


  <optgroup label="Name type scientific, autonym, named hybrid, hybrid formula combinations">
  <% option_number += 1 %>
  <option value="<%= advanced_list_url(option_number,
                                       genus: 'angophora',
                                       species: 'costata',
                                       autonym_name: true) 
                                       %>"
         <%= 'selected' if option_index == option_number %> >
         genus Angophora, species costata, autonym
  </option>

  <% option_number += 1 %>
  <option value="<%= advanced_list_url(option_number,
                                       genus: 'angophora',
                                       autonym_name: true) 
                                       %>"
         <%= 'selected' if option_index == option_number %> >
         genus Angophora, autonym
  </option>
  
  <% option_number += 1 %>
  <option value="<%= advanced_list_url(option_number,
                                       genus: 'angophora',
                                       named_hybrid_name: true) 
                                       %>"
         <%= 'selected' if option_index == option_number %> >
         genus Angophora, named hybrid
  </option>
  
  <% option_number += 1 %>
  <option value="<%= advanced_list_url(option_number,
                                       genus: 'Eucalyptus',
                                       hybrid_formula_name: true) 
                                       %>"
         <%= 'selected' if option_index == option_number %> >
         genus Eucalyptus, hybrid formula
  </option>
  
  </optgroup>

  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="BadID">Bad ID</option>
</select>
<br>
