<div id="form-div">
<%= form_tag(names_advanced_search_path, method: :get) %>
<table class="for-search-form width80pc">
  <%= render partial: 'advanced_names/index/fields/family' %>
  <%= render partial: 'advanced_names/index/fields/genus' %>
  <%= render partial: 'advanced_names/index/fields/species' %>

  <%= render partial: 'advanced_names/index/fields/search_term' %>

  <%= render partial: 'advanced_names/index/fields/authors_hr' %>

  <%= render partial: 'advanced_names/index/fields/ex_base_author' %>
  <%= render partial: 'advanced_names/index/fields/base_author' %>
  <%= render partial: 'advanced_names/index/fields/ex_author' %>
  <%= render partial: 'advanced_names/index/fields/author' %>

  <%= render partial: 'advanced_names/index/fields/rank' %>
  <%= render partial: 'advanced_names/index/fields/publication' %>

  <%= render partial: 'advanced_names/index/fields/type_citation' %>

  <% if Rails.configuration.try('show_name_type_form_fields') %>
    <tr> <td colspan="2"> <hr> </td> </tr>
    <tr>
      <td class="width10pc"></td>
      <td>
        <%= check_box_tag(:scientific_name, '1', scientific_name_field_value, title: scientific_name_hover_text) %>
        <%= label_tag(:scientific_name, "Scientific", title: scientific_name_hover_text) %>
      </td>
    </tr>
    <tr id="scientific-name-cbox-help" class="general-help hidden">
      <td class="width10pc"></td>
      <td colspan="2" class="field-help">
        <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="scientific-name-cbox-help" title="Hide this help." >x</a></div>
        This option can be used to include or exclude scientific names.
      </td>
    </tr>
    <tr>
      <td class="width10pc"></td>
      <td>
        <%= check_box_tag(:scientific_autonym_name, '1', scientific_autonym_field_value, title: scientific_autonym_hover_text) %>
        <%= label_tag(:scientific_autonym_name,
                      "Autonym",
                      title: scientific_autonym_hover_text) %>
      </td>
    </tr>
    <tr id="scientific-autonym-cbox-help" class="general-help hidden">
      <td class="width10pc"></td>
      <td colspan="2" class="field-help">
        <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="scientific-autonym-cbox-help" title="Hide this help." >x</a></div>
        This option can be used to include or exclude autonyms.
      </td>
    </tr>
    <tr>
      <td class="width10pc"></td>
      <td>
        <%= check_box_tag(:scientific_named_hybrid_name, '1', scientific_named_hybrid_name_field_value, title: scientific_named_hybrid_name_hover_text) %>
        <%= label_tag(:scientific_named_hybrid_name, "Named Hybrid", title: scientific_named_hybrid_name_hover_text) %>
      </td>
    </tr>
    <tr id="scientific-named-hybrid-cbox-help" class="general-help hidden">
      <td class="width10pc"></td>
      <td colspan="2" class="field-help">
        <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="scientific-named-hybrid-cbox-help" title="Hide this help." >x</a></div>

This option can be used to include or exclude hybrid taxa that have been formally named.
        
      </td>
    </tr>
    <tr>
      <td class="width10pc"></td>
      <td>
        <%= check_box_tag(:scientific_hybrid_formula_name, '1', scientific_hybrid_formula_name_field_value, title: scientific_hybrid_formula_name_hover_text) %>
        <%= label_tag(:scientific_hybrid_formula_name, "Hybrid Formula", title: scientific_hybrid_formula_name_hover_text) %>
      </td>
    </tr>
    <tr id="scientific-hybrid-formula-cbox-help" class="general-help hidden">
      <td class="width10pc"></td>
      <td colspan="2" class="field-help">
        <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="scientific-hybrid-formula-cbox-help" title="Hide this help." >x</a></div>

This option can be used to include or exclude hybrid taxa that are designated by a formula.
        
      </td>
    </tr>
  <% end %>


  <% if Rails.configuration.try('show_cultivar_name_form_field') || Rails.configuration.try('show_common_name_form_field') %>
    <tr> <td colspan="2"> <hr> </td> </tr>
  <% end %>


  <% if Rails.configuration.try('show_cultivar_name_form_field') %>
    <tr>
      <td class="width10pc"></td>
      <td>
        <%= check_box_tag(:cultivar_name, '1', params['cultivar_name'], title: cultivar_name_hover_text) %>
        <%= label_tag(:cultivar_name,
                "Cultivar",
                title: cultivar_name_hover_text) %>
      </td>
    </tr>
    <tr id="cultivar-name-field-help" class="general-help hidden">
      <td class="width10pc"></td>
      <td colspan="2" class="field-help">
        <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="cultivar-name-field-help" title="Hide this help." >x</a></div>

        This option can be used to include or exclude the names of cultivars.
        
      </td>
    </tr>
  <% end %>


  <% if Rails.configuration.try('show_common_name_form_field') %>
    <tr>
      <td class="width10pc"></td>
      <td>
        <%= check_box_tag(:common_name, '1', params['common_name'], title: common_name_hover_text) %>
        <%= label_tag(:common_name,
                "Common",
                title: common_name_hover_text) %>
      </td>
    </tr>
    <tr id="common-name-field-help" class="general-help hidden">
      <td class="width10pc"></td>
      <td colspan="2" class="field-help">
        <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="common-name-field-help" title="Hide this help." >x</a></div>

        This option can be used to include or exclude common names.
        
      </td>
    </tr>
  <% end %>

  <%= render partial: "advanced_names/index/widgets" %>

</table>


<% if Rails.configuration.try('sample_searches') %>
<input name='sample_search_option_index'
       id='sample_search_option_index'
       type="hidden"
       value="<%= params[:sample_search_option_index] %>" autofocus="true"
       title="Sample search option index - should be hidden.">
<% end %>

<input type="submit"
       value="Search"
       name="search"
       class="left-aligned-form-button"
       title="Search the data and retrieve matching records">
</form>

<% if Rails.configuration.try('sample_searches') %>
<hr>
<%= render partial: "advanced_names/index/sample_searches" %>
<% end %>
</div>
<% if @results.present? %>
  <a id="top-of-search-results" title="Top of search results">
<% end %>


