<div id="form-div">
<%= form_tag(names_advanced_search_path, method: :get) %>
<!--<br>
Name:
<input name='q' type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['q'] %>" autofocus="true"
       title="Enter a name or the leading part of a name or part of a name to restrict the search. Wildcards are supported.">
-->
<table class="for-search-form width80pc">
  <tr>
    <td class="label width10pc">
Family:
    </td>
    <td class="width80pc">
<input name='family' type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['family'] %>"
       autofocus="true"
       title="Enter a search term to restrict the family. Wildcards are supported.">
    </td>
  </tr>
  <tr>
    <td class="label">
Genus:
    </td>
    <td>
<input name='genus' type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['genus'] %>"
       title="Enter a search term to restrict the genus. Wildcards are supported.">
    </td>
  </tr>
  <tr>
    <td class="label">
Epithet:
    </td>
    <td>
<input name='species' type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['species'] %>"
       title="Enter a search term to restrict the non-genus component of taxon names. Wildcards are supported.">
    </td>
  </tr>

  <tr> <td colspan="2"> <hr> </td> </tr>

  <tr>
    <td class="label">
Basionym Author:
    </td>
    <td>
<input name='basionym_author_abbrev' type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['basionym_author_abbrev'] %>"
       title="Enter a search term to restrict the taxon name authority. Covers basionym-author and ex-basionym-author.">
    </td>
  </tr>

  <tr>
    <td class="label">
Taxon Name Author:
    </td>
    <td>
<input name='taxon_name_author_abbrev' type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['taxon_name_author_abbrev'] %>"
       title="Enter a search term to restrict the taxon name authority. Covers author and ex-author.">
    </td>
  </tr>

  <tr> <td colspan="2"> <hr> </td> </tr>
  <tr>
    <td class="label">
      Rank:
    </td>
    <td>
      <%= select_tag(:rank, options_for_select(@rank_options, params['rank']), name: 'rank', class: "form-field width40pc min-width10em max-width30em", include_blank: true, value: "#{params['rank']}", title:"Enter a rank abbreviation for the search.") %>

    </td>
  </tr>
    <tr>
    <td class="label">
<%= label_tag(:include_ranks_below,
              "Include ranks below:",
              title: "If you choose a rank and check this box, the search will also include ranks below the one you selected.") %>
    </td>
    <td>
      <%= check_box_tag(:include_ranks_below, '1', params['include_ranks_below'], 
                        title: "If you choose a rank and check this box, the search will also include ranks below the one you selected.") %>
    </td>
  </tr>

  <tr> <td colspan="2"> <hr> </td> </tr>
  <tr>
    <td class="label">
Publication:
    </td>
    <td>
<input id='publication' name='publication' type="search"
       class="typeahead form-field width40pc min-width10em max-width30em"
       value="<%= params['publication'] %>"
       title="Enter a publication keywords for the search. No wildcards."
       autocomplete="off" >
    </td>
  </tr>
  <tr>
    <td class="label" title="Publication year">
Year:
    </td>
    <td>
<input name='publication_year' type="number" min="1000" max="2050" step="1"
       class="form-field"
       value="<%= params['publication_year'] %>"
       title="Enter a publication year term to restrict the search. No wildcards.">
    </td>
  </tr>
  <tr>
    <td class="label">
<%= label_tag(:protologue,
              "Protologue:",
              title: "When checked, this field makes sure publications contain the name protologue.") %>
    </td>
    <td>
<%= check_box_tag(:protologue, '1', params['protologue'], title: "When checked, this field checks for publications only when they contain the name protologue.") %>
    </td>
  </tr>
  <tr> <td colspan="2"> <hr> </td> </tr>
  <tr>
    <td class="label">
Type Note:
    </td>
    <td>
<input id='type_note_text' name='type_note_text' type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['type_note_text'] %>"
       title="Enter type note text for the search. Wildcards are supported.">
    </td>
  </tr>
  <tr>
    <td class="label">
<%= label_tag(:type_note_key_type,
              "Type:",
              title: "When checked, this field looks for the type note text in a type note.") %>
    </td>
    <td>
<%= check_box_tag(:type_note_key_type, '1', type_note_key_type_field_value, title: "When checked, this field looks for the type note text in a type note.") %>
    </td>
  </tr>
  <tr>
    <td class="label">
<%= label_tag(:type_note_key_neotype,
              "Neotype:",
              title: "When checked, this field looks for the type note text in a neotype note.") %>
    </td>
    <td>
<%= check_box_tag(:type_note_key_neotype, '1', type_note_key_neotype_field_value, title: "When checked, this field looks for the type note text in a neotype note.") %>
    </td>
  </tr>
  <tr>
    <td class="label">
<%= label_tag(:type_note_key_lectotype,
              "Lectotype:",
              title: "When checked, this field looks for the type note text in a lectotype note.") %>
    </td>
    <td>
<%= check_box_tag(:type_note_key_lectotype, '1', type_note_key_lectotype_field_value, title: "When checked, this field looks for the type note text in a lectotype note.") %>
    </td>
  </tr>
  <tr> <td colspan="2"> <hr> </td> </tr>
  <tr>
    <td class="label">
<%= label_tag(:scientific_name,
              "Scientific:",
              title: "When checked scientific names that are not autonyms or hybrids will be included in the search.") %>
    </td>
    <td>
      <%= check_box_tag(:scientific_name, '1', scientific_name_field_value, title: "When checked, this ensures scientific names that are not autonyms or hybrids will be included in the search.") %>
    </td>
  </tr>
  <tr>
    <td class="label">
<%= label_tag(:scientific_autonym_name,
              "Autonym:",
              title: "When checked scientific autonym names will be included in the search.") %>
    </td>
    <td>
      <%= check_box_tag(:scientific_autonym_name, '1', scientific_autonym_field_value, title: "When checked, this ensures scientific autonym names will be included in the search.") %>
    </td>
  </tr>
  <tr>
    <td class="label">
<%= label_tag(:scientific_hybrid_name,
              "Hybrid:",
              title: "When checked scientific hybrid names will be included in the search.") %>
    </td>
    <td>
      <%= check_box_tag(:scientific_hybrid_name, '1', scientific_hybrid_name_field_value, title: "When checked, this ensures scientific hybrid names will be included in the search.") %>
    </td>
  </tr>
  <tr> <td colspan="2"> <hr> </td> </tr>
  <tr>
    <td class="label">
<%= label_tag(:cultivar_name,
              "Cultivar:",
              title: "When checked cultivar names will be included in the search.") %>
    </td>
    <td>
<%= check_box_tag(:cultivar_name, '1', params['cultivar_name'], title: "When checked cultivar names will be included in the search.") %>
    </td>
  </tr>
  <tr>
    <td class="label">
<%= label_tag(:common_name,
              "Common:",
              title: "When checked common names will be included in the search.") %>
    </td>
    <td>
<%= check_box_tag(:common_name, '1', params['common_name'], title: "When checked common names will be included in the search.") %>
    </td>
  </tr>
</table>
<!--
<hr>
Only: <select name="name_type" title="The type of names to retrieve" class="form-field">
        <%#= options_for_select(
          [['Scientific names', 'scientific', {title: "Scientific names only"}],
           ['Cultivar names', 'cultivar', {title: "Cultivar names only"}],
           ['Scientific and cultivar names', 'scientific-or-cultivar', {title: "Scientific and cultivar names only"}],
           ['Common names', 'common', {title: "Common names only"}],
           ['All names', 'all', {title: "All names - scientific, cultivar and common"}]],
          params[:name_type]) %>
    </select>

<br>
-->
<script> setUpPublicationTA(); </script>
<hr>
<%= render partial: "advanced_names/index/widgets" %>
<hr>

<input type="submit"
       value="Search"
       name="search"
       class="left-aligned-form-button"
       title="Search the data and retrieve matching records">

<input type="submit"
       value="Count"
       name="count"
       class="left-aligned-form-button"
       title="Just count the matching records">
</form>
</div>


