<div id="form-div">
<%= form_tag(names_advanced_search_path, method: :get) %>
<table class="for-search-form width80pc">
  <tr>
    <td class="label width10pc">
    Family:
    </td>
    <td class="width80pc">
    <input name='family' type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['family'] %>"
       title="Enter a search term to restrict the family. Wildcards are supported."
       autofocus="true"
       placeholder="Family name without author citation" >
    </td>
  </tr>
  <tr id="family-field-help" class="general-help hidden">
    <td></td>
    <td class="field-help" colspan="2">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="family-field-help" title="Hide this help." >x</a></div>
      A search on family (without author citation) returns any matching family names and all their subordinate taxa. Wildcards are not added automatically.
    </td>
  </tr>
  <tr>
    <td class="label">
    Genus:
    </td>
    <td>
    <input name='genus' type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['genus'] %>"
       title="Enter a search term to restrict the genus. Wildcards are supported."
       placeholder="Genus name without author citation" >
    </td>
  </tr>
  <tr id="genus-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="genus-field-help" title="Hide this help." >x</a></div>
      A search on genus (without author citation) returns any matching genus names and all their subordinate taxa. Wildcards are not added automatically.
    </td>
  </tr>
  <tr>
    <td class="label">
    Epithet:
    </td>
    <td>
    <input name='species' type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['species'] %>"
       title="Enter a search term to restrict the non-genus component of taxon names. Wildcards are supported."
       placeholder="Epithet for names below genus" >
    </td>
  </tr>
  <tr id="epithet-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="epithet-field-help" title="Hide this help." >x</a></div>
A search on epithet returns any names below the rank of genus where the subgeneric, specific or infraspecific epithets match the search string. Wildcards are not added automatically.
    </td>
  </tr>

  <tr> <td colspan="2"> <hr> </td> </tr>

  <tr>
    <td class="label width10pc">
    Complete&nbsp;Name:
    </td>
    <td class="width80pc">
       <input name='q' type="search"
              class="form-field width40pc min-width10em max-width30em"
              value="<%= params['q'] %>" 
              title= "<%= advanced_search_name_hover_text%>"
              placeholder="Complete name with or without author citation" >
    </td>
  </tr>
  <tr id="complete-name-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="complete-name-field-help" title="Hide this help." >x</a></div>
A search on complete name (with or without author citation) returns exactly matching records only. Wildcards are not added automatically.
    </td>
  </tr>

  <tr> <td colspan="2"> <hr> </td> </tr>

  <tr>
    <td class="label">
    Ex-Base&nbsp;Author:
    </td>
    <td>
    <input name='ex_base_author_abbrev' type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['ex_base_author_abbrev'] %>"
       title="Enter a search term for the base name authority."
       placeholder="Ex-Base author abbreviation" >
    </td>
  </tr>
  <tr id="author-abbrev-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="author-abbrev-field-help" title="Hide this help." >x</a></div>
Matches on the ex-base author abbreviation in the full name.  You can use wildcards but they are not added automatically.
    </td>
  </tr>

  <tr>
    <td class="label">
    Base&nbsp;Author:
    </td>
    <td>
    <input name='base_author_abbrev' type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['base_author_abbrev'] %>"
       title="Enter a search term for the base name authority."
       placeholder="Base author abbreviation" >
    </td>
  </tr>
  <tr id="author-abbrev-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="author-abbrev-field-help" title="Hide this help." >x</a></div>
Matches on the base author abbreviation in the full name.  You can use wildcards but they are not added automatically.
    </td>
  </tr>

  <tr>
    <td class="label">
    Ex-Author:
    </td>
    <td>
    <input name='ex_author_abbrev' type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['ex_author_abbrev'] %>"
       title="Enter a search term for the name authority."
       placeholder="Ex Author abbreviation" >
    </td>
  </tr>
  <tr id="ex-author-abbrev-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="ex-author-abbrev-field-help" title="Hide this help." >x</a></div>
Matches on the ex-author abbreviation in the full name.  You can use wildcards but they are not added automatically.
    </td>

  <tr>
    <td class="label">
    Author:
    </td>
    <td>
    <input name='author_abbrev' type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['author_abbrev'] %>"
       title="Enter a search term for the name authority."
       placeholder="Author abbreviation" >
    </td>
  </tr>
  <tr id="author-abbrev-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="author-abbrev-field-help" title="Hide this help." >x</a></div>
Matches the author abbreviation in the full name.  You can use wildcards but they are not added automatically.
    </td>
  </tr>

  <tr> <td colspan="2"> <hr> </td> </tr>
  <tr>
    <td class="label">
      Rank:
    </td>
    <td>
      <%= select_tag(:rank, options_for_select(@rank_options, params['rank']),
                     name: 'rank', class: "form-field width40pc min-width10em max-width30em",
                     include_blank: true, value: "#{params['rank']}",
                     title:"Enter a rank abbreviation for the search.") %>

    </td>
  </tr>
  <tr id="rank-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="rank-field-help" title="Hide this help." >x</a></div>
To limit your search to a particular taxonomic rank, select it from the dropdown list.
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= check_box_tag(:include_ranks_below, '1', params['include_ranks_below'], 
                        title: include_ranks_below_hover_text) %>
      <%= label_tag(:include_ranks_below,
              "Include&nbsp;ranks&nbsp;below".html_safe,
              title: include_ranks_below_hover_text) %>
    </td>
  </tr>
  <tr id="include-ranks-below-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="include-ranks-below-field-help" title="Hide this help." >x</a></div>
      Used in combination with the "Rank" dropdown, this option will return matching names of a given taxonomic rank plus any subordinate ranks.
    </td>
  </tr>

  <tr> <td colspan="2"> <hr> </td> </tr>
  <tr>
    <td class="label">
Publication:
    </td>
    <td>
<input id='publication' name='publication' type="search"
       class="typeahead form-field width40pc min-width10em max-width30em"
       value="<%= params['publication'] %>"
       title="Enter a publication keywords for the search. No wildcards."
       placeholder="Any parts of a bibliographic citation"
       autocomplete="off" >
    </td>
  </tr>
  <tr id="publication-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="publication-field-help" title="Hide this help." >x</a></div>
      A search on any part of a bibliographic citation (i.e. authorship, publication title, volume and year) entered in any order will return names attached to any matching publications. Alternatively, specific publications can be selected from the typehead list.
    </td>
  </tr>
  <tr>
    <td class="label" title="Publication year">
Year:
    </td>
    <td>
<input name='publication_year' type="number" min="1000" max="2050" step="1"
       class="form-field"
       value="<%= params['publication_year'] %>"
       title="Enter a publication year term to restrict the search. No wildcards.">
    </td>
  </tr>
  <tr id="publication-year-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="publication-year-field-help" title="Hide this help." >x</a></div>

Use arrow buttons or type a four-digit year. This field must be used in combination with the Publication field and/or the Protologue checkbox. If a year is specified, search results will be limited to names cited in works published in that year.

    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= check_box_tag(:protologue, '1', params['protologue'], title: protologue_hover_text) %>
      <%= label_tag(:protologue, "Protologue", title: protologue_hover_text) %>
    </td>
  </tr>
  <tr id="publication-protolgue-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="publication-protolgue-field-help" title="Hide this help." >x</a></div>

      This field must be used in combination with the Publication field and/or the Year field. If selected, this option will limit the results to names published in matching works that are the protologue reference for those names.


    </td>
  </tr>
  <tr> <td colspan="2"> <hr> </td> </tr>
  <tr>
    <td class="label">
Type&nbsp;Citation:
    </td>
    <td>
      <% type_note_text_hover_text = "Enter type citation text for the search. Wildcards are supported." %>
      <input id='type_note_text' name='type_note_text' type="search"
       class="form-field width40pc min-width10em max-width30em"
       value="<%= params['type_note_text'] %>"
       title= "<%= type_note_text_hover_text %>"
       placeholder="Text within the type citation" >
    </td>
  </tr>
  <tr id="type-note-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="type-note-field-help" title="Hide this help." >x</a></div>

This search will return names where the type citation (whether in the protologue or secondary references) matches the string provided. A leading wildcard is added by default; use of further wildcards (*) is advised as the word order in type citations may vary.
      
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= check_box_tag(:type_note_key_type, '1', type_note_key_type_field_value, title: type_note_key_type_hover_text) %>
      <%= label_tag(:type_note_key_type,
              "Type",
              title: type_note_key_type_hover_text) %>
    </td>
  </tr>
  <tr id="type-note-key-type-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="type-note-key-type-field-help" title="Hide this help." >x</a></div>

      This option must be used in combination with the type citation field. It will return names where the search string matches type details provided in the protologue (if any), plus in any secondary references containing type information.
      
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= check_box_tag(:type_note_key_neotype, '1', type_note_key_neotype_field_value, title: type_note_key_neotype_hover_text) %>
      <%= label_tag(:type_note_key_neotype,
              "Neotype",
              title: type_note_key_neotype_hover_text) %>
    </td>
  </tr>
  <tr id="type-note-key-neotype-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="type-note-key-neotype-field-help" title="Hide this help." >x</a></div>

      This option must be used in combination with the type citation field. It will return names where the search string matches neotype details provided in the neotypifying reference.
      
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= check_box_tag(:type_note_key_lectotype, '1', type_note_key_lectotype_field_value, title: type_note_key_lectotype_hover_text) %>
      <%= label_tag(:type_note_key_lectotype, "Lectotype", title: type_note_key_lectotype_hover_text) %>
    </td>
  </tr>
  <tr id="type-note-key-lectotype-field-help" class="general-help hidden">
    <td></td>
    <td colspan="2" class="field-help">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="type-note-key-lectotype-field-help" title="Hide this help." >x</a></div>

      This option must be used in combination with the type citation field. It will return names where the search string matches lectotype details provided in the lectotypifying reference.
      
    </td>
  </tr>
  <% if Rails.configuration.try('show_name_type_form_fields') %>
    <tr> <td colspan="2"> <hr> </td> </tr>
    <tr>
      <td></td>
      <td>
        <%= check_box_tag(:scientific_name, '1', scientific_name_field_value, title: scientific_name_hover_text) %>
        <%= label_tag(:scientific_name, "Scientific", title: scientific_name_hover_text) %>
      </td>
    </tr>
    <tr id="scientific-name-cbox-help" class="general-help hidden">
      <td></td>
      <td colspan="2" class="field-help">
        <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="scientific-name-cbox-help" title="Hide this help." >x</a></div>
        This option can be used to include or exclude scientific names.
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= check_box_tag(:scientific_autonym_name, '1', scientific_autonym_field_value, title: scientific_autonym_hover_text) %>
        <%= label_tag(:scientific_autonym_name,
                      "Autonym",
                      title: scientific_autonym_hover_text) %>
      </td>
    </tr>
    <tr id="scientific-autonym-cbox-help" class="general-help hidden">
      <td></td>
      <td colspan="2" class="field-help">
        <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="scientific-autonym-cbox-help" title="Hide this help." >x</a></div>
        This option can be used to include or exclude autonyms.
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= check_box_tag(:scientific_named_hybrid_name, '1', scientific_named_hybrid_name_field_value, title: scientific_named_hybrid_name_hover_text) %>
        <%= label_tag(:scientific_named_hybrid_name, "Named Hybrid", title: scientific_named_hybrid_name_hover_text) %>
      </td>
    </tr>
    <tr id="scientific-named-hybrid-cbox-help" class="general-help hidden">
      <td></td>
      <td colspan="2" class="field-help">
        <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="scientific-named-hybrid-cbox-help" title="Hide this help." >x</a></div>

This option can be used to include or exclude hybrid taxa that have been formally named.
        
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= check_box_tag(:scientific_hybrid_formula_name, '1', scientific_hybrid_formula_name_field_value, title: scientific_hybrid_formula_name_hover_text) %>
        <%= label_tag(:scientific_hybrid_formula_name, "Hybrid Formula", title: scientific_hybrid_formula_name_hover_text) %>
      </td>
    </tr>
    <tr id="scientific-hybrid-formula-cbox-help" class="general-help hidden">
      <td></td>
      <td colspan="2" class="field-help">
        <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="scientific-hybrid-formula-cbox-help" title="Hide this help." >x</a></div>

This option can be used to include or exclude hybrid taxa that are designated by a formula.
        
      </td>
    </tr>
  <% end %>


  <% if Rails.configuration.try('show_cultivar_name_form_field') || Rails.configuration.try('show_common_name_form_field') %>
    <tr> <td colspan="2"> <hr> </td> </tr>
  <% end %>


  <% if Rails.configuration.try('show_cultivar_name_form_field') %>
    <tr>
      <td></td>
      <td>
        <%= check_box_tag(:cultivar_name, '1', params['cultivar_name'], title: cultivar_name_hover_text) %>
        <%= label_tag(:cultivar_name,
                "Cultivar",
                title: cultivar_name_hover_text) %>
      </td>
    </tr>
    <tr id="cultivar-name-field-help" class="general-help hidden">
      <td></td>
      <td colspan="2" class="field-help">
        <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="cultivar-name-field-help" title="Hide this help." >x</a></div>

        This option can be used to include or exclude the names of cultivars.
        
      </td>
    </tr>
  <% end %>


  <% if Rails.configuration.try('show_common_name_form_field') %>
    <tr>
      <td></td>
      <td>
        <%= check_box_tag(:common_name, '1', params['common_name'], title: common_name_hover_text) %>
        <%= label_tag(:common_name,
                "Common",
                title: common_name_hover_text) %>
      </td>
    </tr>
    <tr id="common-name-field-help" class="general-help hidden">
      <td></td>
      <td colspan="2" class="field-help">
        <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="common-name-field-help" title="Hide this help." >x</a></div>

        This option can be used to include or exclude common names.
        
      </td>
    </tr>
  <% end %>

  <%= render partial: "advanced_names/index/widgets" %>

</table>


<input name='sample_search_option_index'
       id='sample_search_option_index'
       type="hidden"
       value="<%= params[:sample_search_option_index] %>" autofocus="true"
       title="Sample search option index - should be hidden.">

<input type="submit"
       value="Search"
       name="search"
       class="left-aligned-form-button"
       title="Search the data and retrieve matching records">
</form>

<hr>
<%= render partial: "advanced_names/index/sample_searches" %>

</div>
<% if @results.present? %>
  <a id="top-of-search-results" title="Top of search results">
<% end %>


