<tr> <td colspan="2"> <hr class="heavy"> </td> </tr>

<tr>
  <td colspan="2">
    <b>Result options</b>
  </td>
</tr>
<tr>
  <td class="label">
<%= label_tag(:list_or_count_list, "List", title: 'List matching names') %>
  </td>
  <td>
    <%= radio_button_tag(:list_or_count, "list", !@client_request.just_count?, title: 'List matching names') %>
  </td>
</tr>
<tr>
  <td class="label">
<%= label_tag(:list_or_count_count, "Count", title: 'Count matching names') %>
  </td>
  <td>
    <%= radio_button_tag(:list_or_count, "count", @client_request.just_count?, title: 'Count matching names') %>
  </td>
</tr>

<tr> <td colspan="2"> <hr> </td> </tr>
<tr>
  <td colspan="2">
    <b>Result list options</b>
  </td>
</tr>
<tr>
  <td colspan="2">
    Also show:
  </td>
</tr>
<tr>
  <td class="label">
    <%= label_tag(:show_family, "Family", title: show_family_hover_text) %>
  </td>
  <td>
    <%= check_box_tag(:show_family, '1', @client_request.family?,
                      title: show_family_hover_text) %>
  </td>
</tr>
<tr>
  <td class="label">
    <%= label_tag(:show_links, "Links", title: show_links_hover_text) %>
  </td>
  <td>
    <%= check_box_tag(:show_links, '1', @client_request.links?, title: show_links_hover_text) %>
  </td>
</tr>
<tr>
  <td class="label">
    <%= label_tag(:show_details, "Details", title: show_details_hover_text) %>
  </td>
  <td>
    <%= check_box_tag(:show_details, '1', @client_request.details?,
                      title: show_details_hover_text) %>
  </td>
</tr>
<tr>
  <td colspan="2">
    Names per page:
  </td>
</tr>
<tr>
  <td class="label">
    Names only:
  </td>
  <td>
    <input type="number"
           name="limit_per_page_for_list"
           title="Number of records per page when details is not checked."
           min="1"
           max="500"
           step="1"
           value="<%= params[:limit_per_page_for_list] || 50 %>"
           class="form-field"> 
  </td>
</tr>
<tr>
  <td class="label">
    Names with details:
  </td>
  <td>
    <input type="number"
           name="limit_per_page_for_details"
           title="Number of records per page when details is checked."
           placeholder="records"
           min="1"
           max="20"
           step="1"
           value="<%= params[:limit_per_page_for_details] || 10 %>"
           class="form-field"> 
  </td>
</tr>
<tr> <td colspan="2"> <hr class="heavy"> </td> </tr>
