  <nav class="bd-links" id="docsNavbarContent">
    <div class="bd-toc-item active">
      <div id="sidebar-navigation-menu" class="">
      <%= link_to "National Species Lists",
                  nsl_path,
                  class: "bd-toc-link",
                  title: "National Species Lists" %>
      <%= link_to ticked("Flora"),
                  flora_path,
                  class: "bd-toc-link",
                  title: "NSL Flora" %>
      </div>
        <hr>
        <ul class="nav bd-sidenav">
          <li class="">
            <%= link_to "Algae",
                        algae_path,
                        class: "",
                        title: "Algae" %>
          </li>
          <li class="">
            <%= link_to "Fungi",
                        fungi_path,
                        class: "",
                        title: "Fungi" %>
          </li>
          <li class="">
            <%= link_to "Lichens",
                        lichens_path,
                        class: "",
                        title: "Lichens" %>
          </li>
          <li class="">
            <%= link_to "Mosses",
                        mosses_path,
                        class: "",
                        title: "Mosses" %>
          </li>
          <li class="">
            <%= link_to "Plants",
                        plants_path,
                        class: "",
                        title: "Vascular Plants" %>
          </li>
        </ul>
        <%= render 'layouts/back_link' %>
    </div>
  </nav>
  <br/>
  <span class="debug tiny hidden-print">[flora/_sidebar]</span>
