<% content_for :page_title do %>
  Flora
<% end %>
<% content_for :page_banner do %>
  <h1>Flora</h1>
<% end %>

<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>


<ul class="">
  <li class="">
    <%= link_to "Algae",
                algae_path,
                class: "",
                title: "Algae" %>
  </li>
  <li class="">
    <%= link_to "Fungi",
                fungi_path,
                class: "",
                title: "Fungi" %>
  </li>
  <li class="">
    <%= link_to "Lichens",
                lichens_path,
                class: "",
                title: "Lichens" %>
  </li>
  <li class="">
    <%= link_to "Mosses",
                mosses_path,
                class: "",
                title: "Mosses" %>
  </li>
  <li class="">
    <%= link_to "Plants",
                plants_path,
                class: "",
                title: "Vascular Plants" %>
  </li>
</ul>


