

<% if @search.results.size > 0 %>
    <% shown = 0 %>
    <ul class="name-results">
      <% prev_name = -1 %>
      <% prev_instance = -1 %>
      <% div_started = false %>
      <% @search.results.each_with_index do |name_instance, ndx| %>
          <% curr_name = name_instance.id %>
          <% unless prev_name == curr_name %>
            <%# Another name %>
            <% shown += 1 %>
            <% if shown > 50 %>
              <br/>
              <br/>
              <br/>
              <br/>
              <p>
                <%= "Showing the first 50 records." %>
              </p>
              <% break %>
            <% end %>
            <% target_id = new_target_id %>
            <% if div_started %>
              </div>
              </div>
            <% end %>
            <li> 
              <hr class="<%= target_id %> divider" />
              <br class="<%=target_id%> details"/>
              <span class="result-item-heading">
                <%= link_to("#{name_instance[:name_full_name]}",
                            plants_names_show_path(name_instance[:id],target_id: target_id),
                            class: "drill-down-toggle showing-details",
                            data: {target_id: target_id},
                            title: "Select to show or hide details",
                            remote: true)
                          %>
              </span>
            </li>
            <div id="<%= target_id %>" class="details">
              <% div_started = true %>
              <div class="name-details">
            <% end %>
            <% prev_name = curr_name %>
            <% unless prev_instance == name_instance.instance_id %>
              <li>
                <div class="instance-citation">
                  <%= name_instance.reference_citation_html.html_safe %>
                  <%= name_instance.page %>
                  <%= "[#{name_instance.instance_type_name}]" if name_instance.primary_instance %>
                </div>
              </li>
            <% end %>
            <% if name_instance.synonym_full_name.present? %>
              <li class="compact subordinate-instance">
                <span class="synonym-type"><%= name_instance.synonym_type_name %>: </span>
                <%= link_to(name_instance.synonym_full_name,
                            plants_names_show_path(name_instance.synonym_name_id),
                            class: "synonym") %>
              </li>
            <% end %>
            <% prev_instance = name_instance.instance_id %>
      <% end %>
    </ul>
  <% end %>

