  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "Biodiversity Australia",
                    welcome_path,
                    class: "bd-toc-link",
                    title: "Biodiversity Australia" %>
        <%= link_to "Vascular Plants",
                    plants_path,
                    class: "bd-toc-link",
                    title: "Vascular Plants" %>
        <%= link_to "APNI".html_safe,
                    plants_names_path,
                    class: "bd-toc-link",
                    title: "Vascular Plant Names" %>
        <%= link_to "APNI Name Search".html_safe,
                    plants_names_search_path,
                    class: "bd-toc-link",
                    title: "APNI Simple Name Search" %>
        <%= link_to "Common".html_safe,
                    plants_names_search_common_path,
                    class: "bd-toc-link",
                    title: "APNI Common and Informal Name Search" %>
        <%= render 'layouts/back_link' %>
      </div>
  </nav>

      <% if false && @search.present? && @search.results.size > 0 %>
      <hr>
      <div class="bd-toc-item active">
      <a name="viewing-options" class="tiny bd-toc-link" title="Viewing options for the search results">Results as:</a>
        <ul class="nav bd-sidenav">
          <li class="">
            <%= link_to %(List &nbsp; #{fa_icon('check') if @search.parsed.show_list?}).html_safe,
                        plants_names_search_path(q: params['q'], pc: params[:controller], show_results_as: 'list'),
                        class: "tiny",
                        title: "Re-run the search as a list." %>
          </li>
          <li class="">
            <%= link_to %(Details &nbsp; #{fa_icon('check') if session[:default_show_results_as].match(/\Adetails\z/i)}).html_safe,
                        plants_names_search_path(q: params['q'], pc: params[:controller], show_results_as: 'details'),
                        class: "tiny",
                        title: "Re-run the search showing details." %>
          </li>
          <hr/>
          <li>
            <a href="javascript:window.print()" title="Print the page">Print</a>
          </li>
          <li>
            <a href="javascript:body.select()" title="Select the data">Select</a>
          </li>
        </ul>
      </div>
      <hr>
      <% end %>


  <br/>
  <span class="debug hidden-print">[plants/names/search/common]</span>
