  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <div id="sidebar-navigation-menu" class="">
        <%= link_to "National Species Lists",
                    nsl_path,
                    class: "bd-toc-link",
                    title: "National Species Lists" %>
        <%= link_to "&ndash;&nbsp;Flora".html_safe,
                    flora_path,
                    class: "bd-toc-link",
                    title: "Flora" %>
        <%= link_to ticked("&ndash;&ndash;&nbsp;#{menu_label}"),
                    root_path,
                    class: "bd-toc-link",
                    title: "Search #{menu_label}" %>
        </div>
        <hr>
        <ul class="nav bd-sidenav">
            <li class="">
              <%= link_to "Name Index",
                          names_search_path,
                          class: "",
                          title: "Search #{ name_label_text }" %>
            </li>
            <li class="">
              <%= link_to "Accepted Taxonomy",
                          taxonomy_accepted_search_path,
                          class: "",
                          title: "Search #{ tree_label_text }" %>
            </li>
            <li class="">
              <%= link_to "Other&nbsp;Taxonomies".html_safe,
                          taxonomy_other_path,
                          class: "",
                          title:
                          "Search taxonomies other than the Accepted Taxonomy" %>
            </li>
        </ul>
      </div>
  </nav>
    <br/>
      <span class="debug hidden-print">
        app/views/home/_sidebar
      </span>
