<% content_for :page_title do %>
  NSL: <%= shard.capitalize %>
<% end %>
<% content_for :page_banner do %>
  <h1><%= ShardConfig.banner_text %></h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<div class="row">
  <div class="col-xl-7 col-lg-9 col-md-10">
    <%= description_html.html_safe %>
    <hr class="black-bg" />

Quick Links
<ul class="discs">
   <li class="">
     <%= link_to "Search #{name_label}",
                 names_search_path,
                 class: "",
                 title: "Search Names" %>
   </li>
   <li class="">
     <%= link_to "Search #{tree_label}",
                 taxonomy_accepted_search_path,
                 class: "",
                 title: "Search Accepted Taxonomy" %>
   </li>
</ul>
      
  </div>
</div>

<br/>
<br/>
<br/>
<span class="debug tiny hidden-print">[views/index]</span>
