  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "National Species Lists",
                    nsl_path,
                    class: "bd-toc-link",
                    title: "National Species Lists" %>
        <hr>
        <ul class="nav bd-sidenav">
            <li class="">
              <%= link_to "Vascular Plants",
                          plants_path,
                          class: "",
                          title: "National Species Lists - Vascular Plants" %>
            </li>
            <li class="">
              <%= link_to "Mosses",
                          mosses_path,
                          class: "",
                          title: "National Species Lists - Mosses" %>
            </li>
            <li class="">
              <%= link_to "Fungi",
                          fungi_path,
                          class: "",
                          title: "National Species Lists - Fungi" %>
            </li>
            <li class="">
              <%= link_to "Lichens",
                          lichens_path,
                          class: "",
                          title: "National Species Lists - Lichens" %>
            </li>
            <li class="">
              <%= link_to "Algae",
                          algae_path,
                          class: "",
                          title: "National Species Lists - Algae" %>
            </li>
            <li class="">
              <%= link_to "Fauna",
                          fauna_path,
                          class: "",
                          title: "National Species Lists - Fauna" %>
            </li>
        </ul>
      <%= render 'layouts/back_link' %>
      </div>
  </nav>
