  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "National Species List",
                    nsl_path,
                    class: "bd-toc-link",
                    title: "National Species List" %>
        <hr>
        <ul class="nav bd-sidenav">
            <li class="">
              <%= link_to "Vascular Plants",
                          plants_path,
                          class: "",
                          title: "Vascular Plants at National Species List" %>
            </li>
            <li class="">
              <%= link_to "Mosses",
                          mosses_path,
                          class: "",
                          title: "Mosses at National Species List" %>
            </li>
            <li class="">
              <%= link_to "Fungi",
                          fungi_path,
                          class: "",
                          title: "Fungi at National Species List" %>
            </li>
            <li class="">
              <%= link_to "Lichens",
                          lichens_path,
                          class: "",
                          title: "Lichens at National Species List" %>
            </li>
            <li class="">
              <%= link_to "Algae",
                          algae_path,
                          class: "",
                          title: "Algae at National Species List" %>
            </li>
            <li class="">
              <%= link_to "Fauna",
                          fauna_path,
                          class: "",
                          title: "Fauna at National Species List" %>
            </li>
        </ul>
      <%= render 'layouts/back_link' %>
      </div>
  </nav>
