<h1>Settings</h1>

<% rte = RuntimeEnvironment.new %>  
<table>


  <td colspan="2"><hr></td>
  <% %w(version environment data_server database_yml_file_path
      instance_editor hr name_label tree_label taxonomy_label hr
      show_common_name_form_field show_cultivar_name_form_field
      show_name_type_form_fields show_accepted_tree_comments_field
      show_accepted_tree_distribution_field sample_searches).each do |attribute| %>
    <% if attribute == 'hr' %>
      <td colspan="2"><hr></td>
    <% else %>
      <tr>
        <td><%= attribute %></td>
        <td><%= Rails.configuration.try(attribute) %></td>
      </tr>
    <% end %>
  <% end %>

  <td colspan="2"><hr></td>
  <% %w(database rails_env).sort.each do |attribute| %>
    <tr>
      <td><%= attribute %></td>
      <td><%= rte.try(attribute) || 'unknown' %></td>
    </tr>
  <% end %>

  <td colspan="2"><hr></td>
    <tr>
      <td>Rails version</td>
      <td><%= Rails::VERSION::STRING %></td>
    </tr>
    <tr>
      <td>Ruby version</td>
      <td><%= RUBY_VERSION %></td>
    </tr>

</table>
<br>
<br>

