<h1>Settings</h1>

<h2>Rails Environment</h2>
<table class="table table-condensed faint-horizontals">
    <tr><td class="width-40-percent min-width-10em">Rails.env</td><td> <%= Rails.env %> </td></tr>
    <tr><td>Ruby platform</td><td> <%= RUBY_PLATFORM %> </td></tr>
  <% if defined?(ENV_JAVA) %>
    <tr><td>Java version</td><td> <%= ENV_JAVA['java.version'] %> </td></tr>
  <% end %>
  <% if defined?(JRUBY_VERSION) %>
    <tr> <td>JRuby&nbsp;version</td> <td><%= JRUBY_VERSION %></td> </tr>
  <% end %>
  <tr>
    <td>Ruby version</td>
    <td><%= RUBY_VERSION %></td>
  </tr>
  <tr>
    <td>Rails version</td>
    <td><%= Rails::VERSION::STRING %></td>
  </tr>

  <tr>
    <td colspan="2">
<h2>App Settings</h2>
    </td>
  </tr>

  <% %w(version environment data_server database_yml_file_path
      instance_editor hr name_label tree_label taxonomy_label hr
      show_common_name_form_field show_cultivar_name_form_field
      show_name_type_form_fields show_accepted_tree_comments_field
      show_accepted_tree_distribution_field sample_searches hr
      name_label taxonomy_label hr 
      default_list_size_limit default_details_size_limit
      default_list_size default_details_size).each do |attribute| %>
    <% if attribute == 'hr' %>
      <tr><td colspan="2">&nbsp;<br><br></td></tr>
    <% else %>
      <tr>
        <td><%= attribute %></td>
        <td><%= Rails.configuration.try(attribute) %></td>
      </tr>
    <% end %>
  <% end %>

<% rte = RuntimeEnvironment.new %>  
  <tr>
    <td colspan="2">
<h2>Config of the Server this App talks to <a href="<%= Rails.configuration.try('data_server') %>/settings" title='Server settings'>(more details)</a></h2>
    </td>
  </tr>
  <% %w(database ruby_version ruby_platform rails_version rails_env app_version).each do |attribute| %>
    <tr>
      <td><%= attribute %></td>
      <td><%= rte.try(attribute) || 'unknown' %></td>
    </tr>
  <% end %>

</table>
<% rank_options = Rails.configuration.try('rank_options') %></td>
<% unless rank_options.nil? %>
<br>
<h2>Rank Options</h2>
<ul>
  <% rank_options.each do |rank_option| %>
    <li><%= rank_option %>
  <% end %>
<% end %>
</ul>
<br>
<br>

<h2>Changes</h2>
<ul>
  <li>NSL-3009: Show correct nomenclatural status for cross refs. 25-Sep-2018</li>
</ul>
