<table>
  <tr>
    <td>Rails.configuration.environment</td>
    <td><%= Rails.configuration.try('environment') %></td>
  </tr>
  <tr>
    <td>Rails.configuration.data_server</td>
    <td><%= Rails.configuration.try('data_server') %></td>
  </tr>
  <tr>
    <td>Rails.configuration.database_yml_file_path</td>
    <td><%= Rails.configuration.try('database_yml_file_path') %></td>
  </tr>
  <tr>
    <td>Rails.configuration.instance_editor</td>
    <td><%= Rails.configuration.try('instance_editor') %></td>
  </tr>
  <tr>
    <td>Setting.new.name_label</td>
    <td><%= Setting.new.try('name_label') %></td>
  </tr>
  <tr>
    <td>Setting.new.tree_label</td>
    <td><%= Setting.new.try('tree_label') %></td>
  </tr>
  <tr>
    <td>Setting.new.taxonomy_label</td>
    <td><%= Setting.new.try('taxonomy_label') %></td>
  </tr>
</table>

