<h1><%= @name_label %> Advanced Search</h1>

<%= render partial: 'advanced_names/index/search_form' %>
<span class="no-print">
<%= link_to('new search', names_advanced_search_path,title: 'Clear any search and start a new advanced search') %> |
<%= link_to('simple', name_search_path, title: 'Go to simple name search') %> |
<%= link_to('taxonomy', taxonomy_search_path, title: 'Go to taxonomy search') %>
</span>
<hr>

<div id="search-result-summary">
  <% if @search.present? %>
    <%= render partial: 'name_search_result_summary' %>
  <% end %>
</div>

<div id="search-results">
  <% if @results.present? %>
    <%= render partial: @client_request.content_partial, locals: { search_form: 'advanced_names' } %>
  <% end %>
</div>

<div id="timing-summary">
  <% if @results.present? %>
    <%= render partial: 'result_timing_summary' %>
  <% end %>
</div>

