<h1><%= @name_label %> Advanced Search</h1>

<%= render partial: 'advanced_names/index/search_form' %>
<span class="no-print">
<%= link_to('new search', names_advanced_search_path(link_params: params),title: 'Clear any search and start a new advanced search') %> |
<%= link_to('simple', name_search_path, title: 'Go to simple name search') %> |
<%= link_to('taxonomy', taxonomy_search_path, title: 'Go to taxonomy search') %>
</span>
<hr>

<div id="search-results">
<% if @search_term.present? %>
  <% unless @results.present? %>
  No results for "<%= @search_term %>"
  <% elapsed = Time.now - @start_time %>(<%= elapsed.round(2) %>s)
  <% end %>
<% end %>
<% if @results.present? %>
  <h2>
  <%= pluralize(@results.size,'matching record') %>
  found
  <% unless params[:limit].to_i > @results.size %>
    out of <%= pluralize(@results.count,'record') %>
  <% end %>
  <% elapsed = Time.now - @start_time %>(<%= elapsed.round(2) %>s)
  </h2>

  <hr>
  <% if @client_request.details? %>
    <%= render partial: 'name_detail' %>
  <% else %>
    <%= render partial: 'name_list' %>
  <% end %>

  <hr>
  <% elapsed = Time.now - @start_time %>
  <%= elapsed.round(2) %> seconds (~<%= (@search.data.name_search.names.size/elapsed).round %> records/second) (index.html)
<% end %>
</div>

<pre>
<%#= simple_format @search.try('to_yaml') %>
</pre>
