<h1><%= @name_label %> Advanced Search</h1>

<%= render partial: 'advanced_names/index/search_form' %>
<span class="no-print">
<%= link_to('clear form', names_advanced_search_path,class: 'underline', title: 'Clear any search and start a new advanced search') %> |
<%= link_to('simple', name_search_path, class: 'underline', title: 'Go to simple name search') %> |
<%= link_to('taxonomy', taxonomy_search_path, class: 'underline', title: 'Go to taxonomy search') %>
</span>
<hr>

<div id="search-result-summary">
  <% if @search.present? %>
    <%= render partial: 'name_search_result_summary' %>
  <% else %>
    <% if params[:search].present? %>
      No search done.  Please enter at least one primary search field. 
    <% end %>
  <% end %>
</div>

<div id="search-results">
  <% if @results.present? %>
    <%= render partial: @client_request.content_partial, locals: { search_form: 'advanced_names' } %>
    <%= render partial: 'advanced_names/index/pagination' %>
  <% end %>
</div>


<div id="timing-summary">
  <% if @results.present? %>
    <%= render partial: 'result_timing_summary' %>
  <% end %>
</div>

