<h1><%= @name_label %> Advanced Search</h1>

<%= render partial: 'advanced_names/index/search_form' %>
<hr>
<span class="no-print">
<%= link_to('clear form', names_advanced_search_path, class: 'underline', title: clear_form_link_hover_text('advanced')) %> |
<% if  !params['search'].blank? %>
  <span id="show-unused-fields-link-container">
  <a href="#" id="show-unused-fields" class="underline" title="Show the fields not used in this search">show all fields</a> |
  </span>
  <span id="hide-unused-fields-link-container" class="hidden">
  <a href="#" id="hide-unused-fields" class="underline" title="Hide the fields not used in this search">hide unused fields</a> |
  </span>
<% end %>
<%= link_to('simple', name_search_path, class: 'underline', title: 'Go to simple name search') %> |
<%= link_to('taxonomy', taxonomy_search_path, class: 'underline', title: taxonomy_link_hover_text) %> |
<%= link_to('name check', name_check_path, class: 'underline', title: name_check_link_hover_text) %>
</span>
<hr>

<div id="search-result-summary">
  <% if @search_result.present? %>
    <%= render partial: 'name_search_result_summary' %>
    <% if @results.present? && @results.paginator_info.present? && @results.paginator_info.current_page.present? %>
      <%= render partial: 'advanced_names/index/pagination' %>
    <% end %>
  <% else %>
    <%= no_search_done_message if params[:search].present? %>
  <% end %>
</div>

<% unless @client_request.just_count? %>
  <% unless @results.nil? || @results.error? %>

    <div id="search-results">
        <%= render partial: @client_request.content_partial, locals: { search_form: 'advanced_names' } %>
        <hr>
        <%= render partial: 'advanced_names/index/pagination' %>
    </div>
    
    <div id="timing-summary">
      <%= render partial: 'result_timing_summary' %>
    </div>

  <% end %>
<% end %>
