  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "National Species Lists",
                    nsl_path,
                    class: "bd-toc-link",
                    title: "National Species Lists" %>
        <%= link_to "Flora",
                    flora_path,
                    class: "bd-toc-link",
                    title: "Flora" %>
                  <%= link_to "#{menu_label}",
                    root_path,
                    class: "bd-toc-link",
                    title: "#{menu_label}" %>
        <%= link_to "Other taxonomies",
                    taxonomy_other_path,
                    class: "bd-toc-link",
                    title: "Other taxonomies" %>
        <hr>
        <ul class="nav bd-sidenav">
        <% Taxonomy::Other::TAXONOMIES.each_pair do | key, taxonomy | %>
          <% if params[:id] == key %>
            <li>
              <%= link_to(ticked(taxonomy[:name]),
                          taxonomy_other_show_path(key)) %>
            </li> 
          <% else %>
            <li>
              <%= link_to(taxonomy[:name],
                          taxonomy_other_show_path(key)) %>
            </li> 
          <% end %>
        <% end %>
        </ul>
        <%= render 'layouts/back_link' %>
      </div>
  </nav>
    <br/>
      <span class="debug hidden-print tiny">
        app/views/taxonomy/other/_sidebar
      </span>
