  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "National Species List",
                    nsl_path,
                    class: "bd-toc-link",
                    title: "National Species List" %>
        <%= link_to "Flora",
                    flora_path,
                    class: "bd-toc-link",
                    title: "Flora" %>
        <%= link_to ticked("Vascular Plants"),
                    plants_path,
                    class: "bd-toc-link",
                    title: "Vascular Plants" %>
        <hr>
        <ul class="nav bd-sidenav">
            <li class="">
              <%= link_to "APNI".html_safe,
                          plants_names_path,
                          class: "",
                          title: "Vascular Plant Names in the Australian Plant Names Index" %>
            </li>
            <li class="">
              <%= link_to "APC",
                          plants_taxonomy_accepted_path,
                          class: "",
                          title: "APC Taxonomy" %>
            </li>
            <li class="">
              <%= link_to "Other taxonomies",
                          plants_taxonomy_other_path,
                          class: "",
                          title: "Other Taxonomies" %>
            </li>
        </ul>
        <%= render 'layouts/back_link' %>
      </div>
  </nav>
    <br/>
      <span class="debug hidden-print">
        app/views/plants/_sidebar
      </span>
