  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "Biodiversity Australia",
                    welcome_path,
                    class: "bd-toc-link",
                    title: "Biodiversity Australia" %>
        <%= link_to "Vascular Plants",
                    plants_path,
                    class: "bd-toc-link",
                    title: "Vascular Plants" %>
        <hr>
        <ul class="nav bd-sidenav">
            <li class="">
              <%= link_to "APNI".html_safe,
                          plants_names_path,
                          class: "",
                          title: "Vascular Plant Names in the Australian Plant Names Index" %>
            </li>
            <li class="">
              <%= link_to "APC",
                          plants_taxonomy_accepted_path,
                          class: "",
                          title: "APC Taxonomy" %>
            </li>
            <li class="">
              <%= link_to "Other taxonomies",
                          plants_taxonomy_other_path,
                          class: "",
                          title: "Other Taxonomies" %>
            </li>
        </ul>
        <%= render 'layouts/back_link' %>
      </div>
  </nav>
    <br/>
      <span class="debug hidden-print">
        app/views/plants/_sidebar
      </span>
