<h1><%= @page_label %> Search</h1>

<%= render partial: 'taxonomy/index/search_form' %>
<span class="no-print">
<%= link_to('clear form', taxonomy_search_path,title: 'Clear any search and start a new taxonomy search') %> |
<%= link_to('name', name_search_path, title: 'Go to name search') %>
</span>
<hr>

<h2>A processing error occurred.</h2>
<br/>
<% if development? %>
  <span>Error: <%= @error.to_s %></span>
  <br/>
  <br/>
<% end %>
<br/>
<br/>
We have recorded some information about how the problem happened and will fix it as soon as possible.
<br/>
<br/>


