<h1><%= @page_label %> Search</h1>

<%= render partial: 'taxonomy/index/search_form' %>
<span class="no-print">
<%= link_to('clear form', taxonomy_search_path,title: 'Clear any search and start a new taxonomy search') %> |
<%= link_to('name', name_search_path(link_params: params),title: 'Go to name search') %>
</span>
<hr>

<hr>
Error
<pre>
<%= simple_format @search.to_yaml %>
</pre>


