<div class='help-bar'>
<a href="" id="general-help-link" title="Show helpful information about the page." >help</a>
</div>
<h1><%= @tree_label %> Search</h1>

<%= render partial: 'taxonomy/index/search_form' %>
<hr>
<span class="no-print">
<%= link_to('clear form', taxonomy_search_path, title: 'Clear any search and start a new taxonomy search') %> |
<%= link_to('name', name_search_path, title: 'Go to name search') %> |
<%= link_to('name check', name_check_path, title: name_check_link_hover_text) %>
</span>
<hr>

<div id="search-result-summary">
  <% if @search.present? %>
    <%= render partial: 'taxonomy_search_result_summary' %>
    <%= render partial: 'taxonomy/index/pagination' if @results.present? %>
  <% else %>
    <%= no_search_done_message if params[:search].present? %>
  <% end %>
</div>

<div id="search-results">
  <% if @results.present? %>
    <%= render partial: "taxon_#{@client_request.details? ? 'detail' : 'list'}",
               locals: { search_form: 'advanced_names' } %>
    <hr>
    <%= render partial: 'taxonomy/index/pagination' %>
  <% else %>
    <% @client_request.no_search_message.each do |msg| %>
      <%= msg %><br>
    <% end %>
  <% end %>
</div>

<div id="timing-summary">
  <% if @results.present? %>
    <%= render partial: 'result_timing_summary' %>
  <% end %>
</div>

    
