<% content_for :page_title do %>
  <%= page_title %>
<% end %>
<% content_for :page_banner do %>
  <h1><%= banner_text %></h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>
<%= render partial: "/taxonomy/accepted/search/form" %>
<strong><%= @name.full_name %></strong>
<% if session[:editor] %>
  <%= render(partial: "/names/search/editor_link.html.erb", locals: { name: @name }) %>
<% end %>
<%= render partial: "/names/instances", locals: {name: @name, name_details: @name_details, show_power_links: false} %>

<br/>
<br/>
<br/>
<%= link_to "#{ fa_icon('chevron-left')} back".html_safe, 'javascript:history.go(-1);', id: "big-back-btn", class:"btn btn-secondary btn-lg btn-block micro gray", title: "Go back 1 page" %>


<span class="debug">taxonomy/show.html.erb</span>

