           <div class="accepted-name-details indented for-taxonomy-details <%= visible ? '' : 'hidden-xs-up' %>">
              <ul class="accepted-instances small">
                <%
                   name.instance.synonyms.sort do |x,y|
                     [x.instance_type.misapplied.to_s, x.name.full_name, x.cite.reference.year] <=>  [y.instance_type.misapplied.to_s, y.name.full_name, y.cite.reference.year]
                   end.each do |synonym|
                %>
                  <%= '?' if synonym.instance_type.doubtful? %>
                  <%= synonym.instance_type.misapplied? ? synonym.name.simple_name_html.html_safe : synonym.name.full_name_html.html_safe %><span class="name-status"><%= synonym.name.status.name_to_show %></span><%= ', p.p.'.html_safe if synonym.instance_type.pro_parte? && !synonym.instance_type.misapplied %>
                  <% if synonym.instance_type.misapplied? %>
                    <i>auct. non</i>
                    <%= synonym.cite.name.author_component_of_full_name %>:
                    <% if synonym.cite.page.blank? %>
                      <%= synonym.cite.reference.citation %><%= ', <span class="pro-parte"><i>p.p</i></span>'.html_safe if synonym.instance_type.pro_parte? %>.
                    <% else %>
                      <%= synonym.cite.reference.citation %>: <%= synonym.cite.page %><%= ', <span class="pro-parte"><i>p.p</i></span>'.html_safe if synonym.instance_type.pro_parte? %>.
                    <% end %>
                  <% end %>
                  <br/>
                <% end %>
              </ul>
              <div class="accepted-name-comment small" title="Accepted name comment">
                <%= name.instance.apc_comment.try("html_safe") %>
              </div>
              <div class="accepted-name-distribution small" title="Accepted name distribution">
                <%= name.instance.apc_distribution %>
              </div>
            </div>

