
 <li class="tree-results compact">
            <span class="debug purple">[<%= synonym.sort_name %>]</span>
            <span class="synonym">
              <em>
              <%= link_to("#{synonym.full_name}",
                        plants_taxonomy_show_path(synonym.id),
                        title: "Show bibliographic details")
                      %>
              </em> 
              <%= synonym.status.name_to_show %>
              <% if synonym.synonym_type.misapplied %> auct. non <%= synonym.synonym_name.author.try('abbrev') %>:
                <%= synonym.synonym_cites.this_cites.reference.author.name %>
                (<%= synonym.synonym_cites.this_cites.reference.year %>)
                [fide
                <%= synonym.synonym_ref.author.name %>
                (<%= synonym.synonym_ref.year %>)]
              <% end %>
            </span>
            <%= render partial: "/plants/taxonomy/accepted/search/citation_links", locals: {name: synonym} %>
            <%= '&nbsp;p.p.'.html_safe if synonym.synonym_type.pro_parte? %>
            =
            <strong>
            <%= link_to("#{synonym.accepted_full_name}",
                        plants_taxonomy_show_path(synonym.accepted_id),
                        title: "Show bibliographic details")
                      %>
            </strong>
            <% if false && cbn.show_status? %>
              <span class="name-status" title="Name Status"><%#= cbn.status.name %></span>
            <% end %>
 </li>
