      <div class="name-display">
      <h3 class="fullname details" title="Scientific name"><%= "#{name.full_name} #{name.status.name if name.show_status?}" %></h3>
      <div class="family-name" title="Family name"><%= name.family_name %></div>
      <%= %(<div class="name-rank" title="Name rank">#{name.rank.name}</div>).html_safe if name.rank.show? %>
      <% shown = [] -%>
      <% apc_instance_id = name.apc_instance_id -%>
      <% name.instances_in_order.each do | instance | %>
        <% display, shown = display_instance(instance, shown, instance.id == apc_instance_id) -%>
        <%= display %>
      <% end %>
      </div>
      <%= render(partial: '/plants/names/search/power_links', locals: {name: @search.results.first}) if name.sub_taxon? %>

