<%= form_tag(plants_names_search_path, method: "get", id: "search-form") do %>
  <div class="form-group row">
    <%= label_tag(:q,
                  "Search for:",
                  class:"sr-only col-sm-2 form-control-label") %>
  <div class="col-sm-9">
    <%= text_field_tag(:q,
                       '',
                       class: "form-control",
                       value: "#{params[:q]}",
                       autofocus: true,
                       title: "Enter a name with or without wildcards to search APNI or APC.",
                       placeholder: "Search scientific names") %>
    </div>
  <%= submit_tag("Search APNI", id: "search-button", class: "btn btn-search hidden-print", title: "Search APNI") %>
  <%= link_to("Search APC",
              plants_taxonomy_accepted_search_accepted_path(q: ""),
              id: "search-taxonomy-link",
              class: "alt-search-link btn btn-secondary hidden-print",
              title: "Switch to APC Search") %>
    <input type="hidden" 
           value="<%= session[:always_details].blank? ? false : session[:always_details] %>"
           name="retrieve_details_on_load"
           id="retrieve_details_on_load">
    <input type="hidden" 
           value="<%= params[:search_type].blank? ? 'scientific' : params[:search_type] %>"
           name="search_type"
           id="name_type">
    <input type="hidden" 
           value="html"
           name="format"
           id="search-output-format">
  </div>
<% end %>
<span class="debug red hidden-print">[plants/names/search/_form]</span>
<% if @search.present? %>
  <span class='search-result-summary'>
    <%= pluralize(@search.results.pluck("id").uniq.size,
                  "#{(params[:search_type] || 'scientific').sub(/-and-/,' or ')} name") %>
    <%= no_results_help(@search.results.size).html_safe %>
  </span>
<% end %>

<% if @search.present? %>
  <%= render partial: '/plants/names/search/results', locals: {search: @search, name: @search.results.first} %>
<% end %>
