



<% if @search.results.size > 0 %>
  <ul class="name-results">
    <% @search.results.each_with_index do |name, ndx| %>
      <% target_id = new_target_id %>
      <li>
        <%= link_to(fa_icon('caret-right lg'),
                    plants_names_show_path(name[:id],target_id: target_id),
                    class: "full-name drill-down-toggle no-details",
                    data: {target_id: target_id},
                    title: "Select to show or hide details",
                    remote: true)
        %>
        <span class="name-display-family-name" title="Family name">
          <%= name.name_tree_path_default.try('family_name') %>
        </span> 
        <br class="<%=target_id%> details hidden-xs-up"/>
        <span class="result-item-heading">
          <%= link_to("#{name[:full_name].sub(/^x /, "× ")}",
                      plants_names_show_path(name[:id],target_id: target_id),
                      class: "name-heading full-name",
                      data: {target_id: target_id},
                      title: "Select to show this name on its own page")
          %>
          <% if name.show_status? %>
            <span class="name-status" title="Name Status"><%= name.status_name %></span>
          <% end %>
        </span>
        <div id="<%= target_id %>" class="details hidden-xs-up"></div>
        <hr class="<%= target_id %> divider hidden-xs-up" />
      </li>
    <% end %>
  </ul>
<% end %>
