
<%# The algorithm required here is very complex.  %>
<%# I chose it to optimise database queries. %>
<%# Setting this aside for the time being because the complexity cost is too high. %>
<% if @search.results.size > 0 %>
    <% shown = 0 %>
    <ul class="name-results">
      <% prev_id = -1 %>
      <% prev_instance = -1 %>
      <% prev_name_instance = nil %>
      <% div_started = false %>
      <% is_concept = false %>
      <% apc_dist = '' %>
      <% @search.results.each_with_index do |name_instance, ndx| %>
          <% curr_id = name_instance.id %>
          <% unless prev_id == curr_id %>
            <%# Another name %>
            <% shown += 1 %>
            <% if shown > 50 %>
              <br/>
              <br/>
              <br/>
              <br/>
              <p>
                <%= "Showing the first 50 records." %>
              </p>
              <% break %>
            <% end %>
            <% target_id = new_target_id %>
            <% if div_started %>
              <% if prev_name_instance.present? %>
                <%= render(partial: '/plants/names/search/power_links', locals: {name: prev_name_instance.name}) %>
              <% else %>
                No prev name instance!
              <% end %>
              </div>
              </div>
            <% end %>
            <li> 
              <hr class="<%= target_id %> divider" />
              <% prev_name_instance = name_instance %>
              <span class="name-display-family-name" title="Family name">
                <%= name_instance.family_name %>
              </span>
              <br class="<%=target_id%> details"/>
              <span class="result-item-heading">
                <%= link_to("#{name_instance[:name_full_name]}",
                            plants_names_show_path(name_instance[:id],target_id: target_id),
                            class: "drill-down-toggle showing-details",
                            data: {target_id: target_id},
                            title: "Select to show or hide details",
                            remote: true)
                          %>
                <% if name_instance.show_status? %>
                  <span class="name-status" title="Name Status"><%= name_instance.status_name %></span>
                <% end %>
              </span>
            </li>
            <div id="<%= target_id %>" class="details">
              <% div_started = true %>
              <div class="name-details">
            <% end %>
            <% prev_id = curr_id %>
            <% unless prev_instance == name_instance.instance_id %>
              <% if is_concept %>
                <div class="classification-tree-distribution"><span class="ctd-label">Distribution: </span><%= apc_dist %></span></div>
                <% is_concept = false %>
              <% end %>
              <li>
                <div class="instance-citation">
                  <%= name_instance.reference_citation_html.html_safe %>
                  <%= name_instance.page %>
                  <%= "[#{name_instance.instance_type_name}]" if name_instance.primary_instance %>
                  <% name_instance.instance.accepted_names.each  do | accepted_tree_name | %>
                    <% if accepted_tree_name.type_code.match(/Concept\z/) %>
                      <% is_concept = true %>
                      <% apc_dist = accepted_tree_name.instance.instance_note_for_distribution.value %>
                    <% end %>
                    <span class="red">
                      <%= accepted_tree_name.type_code.sub(/Apc/i,"#{ShardConfig.classification_tree_label} ") %>
                    </span>
                  <% end %>

                </div>
                <% name_instance.instance_note_for_type_specimens.each do |type| %>
                  <div class="type-specimen-note">
                    <strong>Type:</strong>
                    <%= type.marked_up_value.html_safe %>
                  </div>
                <% end %>
              </li>
            <% end %>
            <% if name_instance.synonym_full_name.present? %>
              <li class="compact subordinate-instance">
                <span class="synonym-type"><%= name_instance.synonym_type_name %>: </span>
                <%= link_to(name_instance.synonym_full_name,
                            plants_names_show_path(name_instance.synonym_name_id),
                            class: "synonym") %>
                </span>
              </li>
            <% end %>
            <% prev_instance = name_instance.instance_id %>
      <% end %>

      <%# Deal with apc_dist if the final instance is apc concept %>
      <% if is_concept %>
        <div class="classification-tree-distribution"><span class="ctd-label">Distribution: </span><%= apc_dist %></span></div>
        <% is_concept = false %>
      <% end %>
      <br>
        power links
      <br>
    </ul>
  <% end %>
