  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "Vascular Plants",
                    plants_path,
                    class: "bd-toc-link",
                    title: "Vascular Plants" %>
        <%= link_to "Names",
                    plant_names_path,
                    class: "bd-toc-link",
                    title: "Vascular Plant Names" %>
        <ul class="nav bd-sidenav">
          <li class="active bd-sidenav-active">
            <%= link_to "APNI Search",
                        "#",
                        class: "",
                        title: "Simple APNI Search" %>
          </li>
          <li class="">
            <%= link_to "APNI Advanced Search",
                        plant_names_advanced_search_path,
                        class: "",
                        title: "Advanced APNI Search" %>
          </li>
          <li class="">
            <%= link_to "APNI Name Check",
                        "#",
                        class: "",
                        title: "APNI Name Check Search" %>
          </li>
          <li class="">
            <%= link_to "APNI SPARQL Search",
                        "#",
                        class: "",
                        title: "APNI SPARQL Search" %>
          </li>
        </ul>
      </div>
  </nav>
