  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "National Species Lists",
                    nsl_path,
                    class: "bd-toc-link",
                    title: "National Species Lists" %>
        <%= link_to "Flora",
                    flora_path,
                    class: "bd-toc-link",
                    title: "Flora" %>
        <%= link_to "Vascular Plants",
                    plants_path,
                    class: "bd-toc-link",
                    title: "Vascular Plants" %>
        <%= link_to "APNI".html_safe,
                    plants_names_path,
                    class: "bd-toc-link",
                    title: "Vascular Plant Names" %>
        <%= link_to "APNI Name Search".html_safe,
                    plants_names_search_path,
                    class: "bd-toc-link",
                    title: "APNI Simple Name Search" %>
      <hr/>
      <ul class="nav bd-sidenav">
        <li class="name-type-switch-item <%= 'active' if params[:search_type].blank? || params[:search_type].match(/\Ascientific\z/) %>">
            <%= link_to "Scientific&nbsp;#{fa_icon('check', class: "hide-unless-active")}".html_safe,
                        "javascript:void(0);",
                        class: "name-type-switch-link",
                        data: {switch_to: "scientific"},
                        title: "Scientific name search." %>
          </li>
          <li class="name-type-switch-item <%= 'active' if params[:search_type].present? && params[:search_type].match(/\Acultivar\z/) %>">
            <%= link_to "Cultivar&nbsp;#{fa_icon('check', class: "hide-unless-active")}".html_safe,
                        "javascript:void(0);",
                        class: "name-type-switch-link",
                        data: {switch_to: "cultivar"},
                        title: "Cultivar name search." %>
          </li>
          <li class="name-type-switch-item <%= 'active' if params[:search_type].present? && params[:search_type].match(/\Ascientific.and.cultivar\z/) %>">
            <%= link_to "Scientific and Cultivar&nbsp;#{fa_icon('check', class: "hide-unless-active")}".html_safe,
                        "javascript:void(0);",
                        class: "name-type-switch-link",
                        data: {switch_to: "scientific-and-cultivar"},
                        title: "Search across scientific and cultivar name types." %>
          </li>
          <li class="name-type-switch-item <%= 'active' if params[:search_type].present? && params[:search_type].match(/\Acommon\z/) %>">
            <%= link_to "Common&nbsp;#{fa_icon('check', class: "hide-unless-active")}".html_safe,
                        "javascript:void(0);",
                        class: "name-type-switch-link",
                        data: {switch_to: "common"},
                        title: "Common or informal name search." %>
          </li>
        </ul>
        <%= render 'layouts/back_link' %>
      </div>
  </nav>
  <span class="debug hidden-print">[plants/names/search/_sidebar]</span>

