<% content_for :page_title do %>
  <%= @name.full_name %>
<% end %>
<% content_for :page_banner do %>
  <h1>Name details</h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>
<%= render "plants/names/search/form" %>
<strong><%= @name.full_name %></strong>
<% if @name.show_status? %>
  <span class="name-status" title="Name Status"><%= @name.status_name %></span>
<% end %>
<% if session[:editor] %>
  <%= render(partial: "/plants/names/search/editor_link.html.erb", locals: { name: @name }) %>
<% end %>
<%= render partial: "details_extra", locals: {name: @name, name_details: @name_details} %>
<br/>
<br/>
<%= link_to "#{ fa_icon('chevron-left')} back".html_safe, 'javascript:history.go(-1);', id: "big-back-btn", class:"btn btn-secondary btn-lg btn-block micro gray", title: "Go back 1 page" %>


<span class="debug">plants/names/show.html.erb</span>
