  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "National Species Lists",
                    nsl_path,
                    class: "bd-toc-link",
                    title: "National Species Lists" %>
        <%= link_to "Flora",
                    flora_path,
                    class: "bd-toc-link",
                    title: "Flora" %>
        <%= link_to "#{menu_label}",
                    root_path,
                    class: "bd-toc-link",
                    title: "#{name_link_title}" %>
        <%= link_to "#{name_label} Search",
                    names_search_path,
                    class: "bd-toc-link",
                    title: "Search #{name_label} names" %>
        <%= link_to "Names within a taxon",
                    names_search_within_taxon_summary_path(@name.id),
                    class: "bd-toc-link",
                    title: "Search #{name_label} names" %>
        <hr>
        <ul class="nav bd-sidenav">
          <li class="bd-sidenav-active">
            <%= link_to "Summary",
                        names_search_within_taxon_summary_path(@name.id),
                        class: "",
                        data: { no_turbolink: true },
                        title: "Summary of names within a taxon" %>
          </li>
          <li class="bd-sidenav-active">
            <%= link_to "Selected ranks",
                        names_search_within_taxon_selected_ranks_path(@name.id),
                        class: "",
                        data: { no_turbolink: true },
                        title: "Names in selected ranks within a taxon" %>
          </li>
          <li class="active bd-sidenav-active">
            <%= link_to("All #{fa_icon('check')}".html_safe,
                        names_search_within_taxon_all_path(@name.id),
                        class: "",
                        data: { no_turbolink: true },
                        title: "All names within a taxon")%>
          </li>
        </ul>
      </div>
  </nav>
