

<input name='sample_search_option_index'
       id='sample_search_option_index'
       type="hidden"
       value="<%= params[:sample_search_option_index] %>" autofocus="true"
       title="Sample search option index - should be hidden.">

<input type="submit"
       value="Search"
       name="search"
       class="left-aligned-form-button"
       title="Search the data and retrieve matching records">

<% option_index = params[:sample_search_option_index].to_i %>

<hr>
Sample searches 
<select id="sample_searche" name="sample_search" class="search-samples" value="<%= params[:sample_search] %>" title="Choose a sample search">
  <option value="">Select a search to run it immediately</option>
  <option value="<%= simple_list_url('angophora+costata',1)%>" <%= 'selected' if option_index == 1 %> >Angophora costata list</option>
  <option value="<%= simple_list_in_family_order_url('angophora+costata',2)%>" <%= 'selected' if option_index == 2 %> >Angophora costata list with family</option>
  <option value="<%= simple_list_with_links_url('angophora+costata',3)%>" <%= 'selected' if option_index == 3 %> >Angophora costata list showing links</option>
  <option value="<%= simple_list_with_links_and_details_url('angophora+costata',4)%>" <%= 'selected' if option_index == 4 %> >Angophora costata list showing links and details</option>
  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>
  <option value="<%= simple_list_url('Diospyros rugosula',6)%>" <%= 'selected' if option_index == 6 %> >Diospyros rugosula list</option>
  <option value="<%= simple_list_in_family_order_url('Diospyros rugosula',7)%>" <%= 'selected' if option_index == 7 %> >Diospyros rugosula list with family</option>
  <option value="<%= simple_list_with_links_url('Diospyros rugosula',8)%>" <%= 'selected' if option_index == 8 %> >Diospyros rugosula list showing links</option>
  <option value="<%= simple_list_with_links_and_details_url('Diospyros rugosula',9)%>" <%= 'selected' if option_index == 9 %> >Diospyros rugosula list with details</option>

  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="<%= simple_list_url('Diospyros cordifolia',11)%>" <%= 'selected' if option_index == 11 %> >Diospyros cordifolia list</option>
  <option value="<%= simple_list_in_family_order_url('Diospyros cordifolia',12)%>" <%= 'selected' if option_index == 12 %> >Diospyros cordifolia list with family</option>
  <option value="<%= simple_list_with_links_url('Diospyros cordifolia',13)%>" <%= 'selected' if option_index == 13 %> >Diospyros cordifolia list showing links</option>
  <option value="<%= simple_list_with_links_and_details_url('Diospyros cordifolia',14)%>" <%= 'selected' if option_index == 14 %> >Diospyros cordifolia list with details</option>
  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>
  <option value="<%= simple_list_with_links_and_details_url('Lomandra endlicheri',16)%>" <%= 'selected' if option_index == 16 %> >Lomandra endlicheri list with links and details</option>
  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="<%= simple_list_with_details_url('Westringia sp. 1',17)%>" <%= 'selected' if option_index == 17 %> >Westringia sp. 1 with details</option>
  <option value="<%= simple_list_with_links_and_details_url('Westringia sp. 1',18)%>" <%= 'selected' if option_index == 18 %> >Westringia sp. 1 with details and links</option>

  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="<%= simple_list_with_links_and_details_url('Hibbertia abyssus',20)%>" <%= 'selected' if option_index == 20 %> >Hibbertia abyssus with details and links</option>
  <option value="<%= simple_list_with_links_and_details_url('Pleurandra juniperina',21)%>" <%= 'selected' if option_index == 21 %> >Pleurandra juniperina with details and links</option>
  <option value="<%= simple_list_with_links_and_details_url('Hibbertia a',22)%>" <%= 'selected' if option_index == 22 %> >Hibbertia a with details and links</option>
  <option value="<%= simple_list_with_links_and_details_url('Hibbertia angustifolia',23)%>" <%= 'selected' if option_index == 23 %> >Hibbertia angustifolia with details and links</option>
  
  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="<%= simple_list_with_details_url('Hibbertia andrews sect. Hibbertia',25)%>" <%= 'selected' if option_index == 25 %> >hibbertia andrews sect. Hibbertia with details</option>
  <option value="<%= simple_list_with_links_and_details_url('Hibbertia andrews sect. Hibbertia',26)%>" <%= 'selected' if option_index == 26 %> >hibbertia andrews sect. Hibbertia with details and links</option>
  <option value="<%= simple_list_with_details_url('Hibbertia andrewsiana',27)%>" <%= 'selected' if option_index == 27 %> >Hibbertia andrewsiana with details</option>
  <option value="<%= simple_list_with_links_and_details_url('Hibbertia andrewsiana',28)%>" <%= 'selected' if option_index == 28 %> >Hibbertia andrewsiana with details and links</option>

  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="<%= simple_list_with_details_url('Hibbertia acuminata',30)%>" <%= 'selected' if option_index == 30 %> >Hibbertia acuminata with details</option>
  <option value="<%= simple_list_with_links_and_details_url('Hibbertia acuminata',31)%>" <%= 'selected' if option_index == 31 %> >Hibbertia acuminata with details and links</option>
  <option value="<%= simple_list_with_details_url('Hibbertia alopecota',32)%>" <%= 'selected' if option_index == 32 %> >Hibbertia alopecota with details</option>
  <option value="<%= simple_list_with_links_and_details_url('Hibbertia alopecota',33)%>" <%= 'selected' if option_index == 33 %> >Hibbertia alopecota with details and links</option>

  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="<%= simple_list_common_name_url('blue gum',35)%>" <%= 'selected' if option_index == 35 %> >blue gum common name</option>
  <option value="<%= simple_list_common_name_with_details_url('blue gum',36)%>" <%= 'selected' if option_index == 36 %> >blue gum common name with details</option>
  <option value="<%= simple_list_common_name_with_links_url('blue gum',37)%>" <%= 'selected' if option_index == 37 %> >blue gum common name with links</option>
  <option value="<%= simple_list_common_name_with_links_and_details_url('blue gum',38)%>" <%= 'selected' if option_index == 38 %> >blue gum common name with links and details</option>

  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="<%= simple_list_cultivar_name_url('brachychiton',39)%>" <%= 'selected' if option_index == 39 %> >brachychiton cultivar name</option>
  <option value="<%= simple_list_cultivar_name_with_details_url('brachychiton',40)%>" <%= 'selected' if option_index == 40 %> >brachychiton cultivar name with details</option>
  <option value="<%= simple_list_cultivar_name_with_links_url('brachychiton',41)%>" <%= 'selected' if option_index == 41 %> >brachychiton cultivar name with links</option>
  <option value="<%= simple_list_cultivar_name_with_links_and_details_url('brachychiton',42)%>" <%= 'selected' if option_index == 42 %> >brachychiton cultivar name with links and details</option>

  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="<%= simple_list_common_cultivar_name_url('bank*om',44)%>" <%= 'selected' if option_index == 44 %> >bank*om common and cultivar name</option>
  <option value="<%= simple_list_common_cultivar_name_with_details_url('bank*om',45)%>" <%= 'selected' if option_index == 45 %> >bank*om common and cultivar name with details</option>
  <option value="<%= simple_list_common_cultivar_name_with_links_url('bank*om',46)%>" <%= 'selected' if option_index == 46 %> >bank*om common and cultivar name with links</option>
  <option value="<%= simple_list_common_cultivar_name_with_links_and_details_url('bank*om',47)%>" <%= 'selected' if option_index == 47 %> >bank*om common and cultivar name with links and details</option>

  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="<%= simple_list_common_cultivar_scientific_name_url('bank*om',48)%>" <%= 'selected' if option_index == 48 %> >bank*om common, cultivar and scientific name</option>
  <option value="<%= simple_list_common_cultivar_scientific_name_with_details_url('bank*om',49)%>" <%= 'selected' if option_index == 49 %> >bank*om common, cultivar and scientific name with details</option>
  <option value="<%= simple_list_common_cultivar_scientific_name_with_links_url('bank*om',50)%>" <%= 'selected' if option_index == 50 %> >bank*om common, cultivar and scientific name with links</option>
  <option value="<%= simple_list_common_cultivar_scientific_name_with_links_and_details_url('bank*om',51)%>" <%= 'selected' if option_index == 51 %> >bank*om common, cultivar and scientific name with links and details</option>

  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="<%= simple_list_with_links_and_details_url('Eucalyptus lucasii',53)%>" <%= 'selected' if option_index == 53 %> >Eucalyptus lucasii scientific name with links and details (Comment on Chippendale instance)</option>
  <option value="<%= simple_list_with_links_and_details_url('Haloragis scoparia',54)%>" <%= 'selected' if option_index == 54 %> >Haloragis scoparia scientific name with links and details (APC Dist on Orchard (2005))</option>
  <option value="<%= simple_list_with_links_and_details_url('Eriachne armittii',55)%>" <%= 'selected' if option_index == 55 %> >Eriachne armittii scientific name with links and details (APC Dist on Lazarides (2005))</option>
  <option value="<%= simple_list_with_links_and_details_url('Genista monspessulana',56)%>" <%= 'selected' if option_index == 56 %> >Genista monspessulana scientific name with links and details (APC Comment and Dist on CHAH (2008))</option>

  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="<%= simple_list_with_links_and_details_url('Nuytsia floribunda',58)%>" <%= 'selected' if option_index == 58 %> >Nuytsia floribunda scientific name with links and details (Check BHL links)</option>
  <option value="<%= simple_list_with_links_and_details_url('Genista monspessulana',59)%>" <%= 'selected' if option_index == 59 %> >Genista monspessulana scientific name with links and details (Check order of synonyms in CHAH 2011)</option>

  <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>

  <option value="BadID">Bad ID</option>
</select>
<br>
