<hr class="heavy">
    <%= radio_button_tag(:list_or_count, "list", !@client_request.just_count?, title: 'List matching names') %>
    <%= label_tag(:list_or_count_list, "List", title: 'List matching names') %>
<br>
    <%= radio_button_tag(:list_or_count, "count", @client_request.just_count?, title: 'Count matching names') %>
    <%= label_tag(:list_or_count_count, "Count", title: 'Count matching names') %>
    <div id="list-or-count-field-help" class="general-help field-help hidden">
      <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="list-or-count-field-help" title="Hide this help." >x</a></div>
      <ul class="help">
        <li>You can choose to <em>count</em> the matching names or to be provided with a <em>list</em> of them.
        <li>Counting is faster, especially for large searches, and may be useful for exploring the dataset.
        <li>Lists are sorted, with the order depending on whether family name is included or omitted. (See below.)
        <li>Lists may be paginated, depending on the total number of results and the limits selected. (See below.)
        <li>Lists also give a total count of matches.
      </ul>
    </div>
<hr>
<b>For lists also show:</b>
<br>
    <%= check_box_tag(:show_family, '1', @client_request.family?,
                      title: show_family_hover_text) %>
    <%= label_tag(:show_family, "Family", title: show_family_hover_text) %>
<div id="show-family-field-help" class="general-help field-help hidden">
  <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="show-family-field-help" title="Hide this help." >x</a></div>
  <ul class="help">
    <li>When listing names, their family (as recorded in the <%= @name_label %> data) can be displayed.
    <li>If family is displayed, search results are sorted first by family. Within family, taxa are sorted alphabetically and then by taxonomic rank.
    <li>If family is not displayed, search results are sorted alphabetically and then by taxonomic rank.
  </ul>
</div>
<br>
    <%= check_box_tag(:show_links, '1', @client_request.links?, title: show_links_hover_text) %>
    <%= label_tag(:show_links, "Links", title: show_links_hover_text) %>
<div id="show-links-field-help" class="general-help field-help hidden">
  <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="show-links-field-help" title="Hide this help." >x</a></div>
  <ul class="help">
    <li>Listed names can be plain text, or hyperlinks.
    <li>If links are displayed and followed they will lead to a full page of details for the selected name.
  </ul>
</div>
<br>
    <%= check_box_tag(:show_details, '1', @client_request.details?,
                      title: show_details_hover_text) %>
    <%= label_tag(:show_details, "Details", title: show_details_hover_text) %>
<div id="show-details-field-help" class="general-help field-help hidden">
  <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="show-details-field-help" title="Hide this help." >x</a></div>
  <ul class="help">
    <li>If the details option is chosen matching names will be displayed with bibliographic information and synonymy.
    <li>Listing names with details can take much longer, especially for big searches.
  </ul>
</div>
<hr>
<b>Page limits:</b>
<div id="page-limits-help" class="general-help field-help hidden">
  <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="page-limits-help" title="Hide this help." >x</a></div>
  <ul class="help">
    <li>Listed names are presented using default page size limits, to avoid large resource-intensive searches (which may be accidental).
    <li>You can change the page size in these fields by using the up and down arrows or by typing a number.
  </ul>
</div>
<br>
    <input type="number"
           name="limit_per_page_for_list"
           title="Number of records per page when details is not checked."
           min="1"
           max="500"
           step="1"
           value="<%= params[:limit_per_page_for_list] || 50 %>"
           class="form-field"> 
    <%= label_tag(:limit_per_page_for_list, "Names", title: 'This limit will apply if you have not asked for details.') %>
<br>
    <input type="number"
           name="limit_per_page_for_details"
           title="Number of records per page when details is checked."
           placeholder="records"
           min="1"
           max="50"
           step="1"
           value="<%= params[:limit_per_page_for_details] || 10 %>"
           class="form-field"> 
    <%= label_tag(:limit_per_page_for_list, "Names with details", title:'This limit will apply if you have asked for details.') %>
<div id="page-limits-field-help" class="general-help field-help hidden">
  <div class="hide-this-help-link-container text-align-right"><a href="" class="hide-this-help-link" data-target-id="page-limits-field-help" title="Hide this help." >x</a></div>
  <ul class="help">
    <li> The <em>Names</em> limit is used for simple lists.
    <li> The <em>Names with details</em> limit applies for lists of names with details.  These searches require more resources and take longer per record.
  </ul>
</div>

<hr>
