  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "National Species Lists",
                    nsl_path,
                    class: "bd-toc-link",
                    title: "National Species Lists" %>
        <%= link_to "Flora",
                    flora_path,
                    class: "bd-toc-link",
                    title: "Flora" %>
        <%= link_to "Vascular Plants",
                    root_path,
                    class: "bd-toc-link",
                    title: "Vascular Plants" %>
        <%= link_to "APNI".html_safe,
                    names_path,
                    class: "bd-toc-link",
                    title: "Vascular Plant Names" %>
        <%= link_to "APNI Name search",
                    names_search_path,
                    class: "bd-toc-link",
                    title: "Search APNI names" %>
        <%= link_to "Names within a taxon",
                    names_search_within_taxon_path(@name.id),
                    class: "bd-toc-link",
                    title: "Search APNI names" %>
        <hr>
        <ul class="nav bd-sidenav">
          <li class="active bd-sidenav-active">
            <%= link_to("Summary #{fa_icon('check')}".html_safe,
                        names_search_within_taxon_summary_path(@name.id),
                        class: "",
                        title: "Summary counts for names within a taxon")%>
          </li>
          <li class="bd-sidenav-active">
            <%= link_to "Selected ranks".html_safe,
                        names_search_within_taxon_selected_ranks_path(@name.id),
                        class: "",
                        title: "Names in selected ranks within a taxon" %>
          </li>
          <li class="bd-sidenav-active">
            <%= link_to "All",
                        names_search_within_taxon_all_path(@name.id),
                        class: "",
                        title: "All names within a taxon" %>
          </li>
        </ul>
      </div>
  </nav>
