  <% @results.names.each do |name| %>
    <h3>
      <% if @query_request.family? && name.family_name != 'na' %>
        [<span title="family name" class="family-name"><%= name.family_name %></span>]
      <% end %>

      <% name_string = name.full_name %>
      <% unless name.name_status_name.blank? %>
        <% name_string += %(, <i class="name-status" title="name status">#{name.name_status_name}</i>) %>
      <% end %>
      <% if @query_request.links? %>
        <%= link_to name_string.html_safe, name_show_path(id: name.id), title: "Show name details in a new page" %>
      <% else %>
        <%= name_string.html_safe %>
      <% end %>
    </h3>

      <ul class="plain indent3">
        <% curr_ref_id = -1 %>
        <% name.usages.each do |usage| %>
          <% unless curr_ref_id == usage.reference_id %>
            <%= "</ul>".html_safe unless curr_ref_id == -1 %>
            <% curr_ref_id = usage.reference_id %>
            <% if usage.misapplied? %>
              <li><%= usage.citation_for_misapplied %>
              <ul class="plain indent4">
            <% else %>
              <li><%= usage.full_citation_with_page %>
              <ul class="plain indent4">
            <% end %>
            <% usage.synonyms.each do |synonym| %>
              <li class="indent"><span class="synonym-type"><%= synonym.label %>:</span>
                <%= synonym.full_name %> <%= "#{synonym.name_status_name}" unless synonym.name_status_name == 'legitimate' %>
            <% end %>
          <% end %>
            <% if usage.misapplied? %>
              <li>misapplied to:
                <%= usage.misapplied_to_name %>
                by
                <%= usage.misapplied_by_citation %>
                :
                <%= usage.misapplied_on_page %>
            <% end %>
            <% unless usage.notes.nil? %>
              <ul class="plain">
              <% usage.notes.each do |note| %>
                <li>
                <b><%= note.key %>:</b>
                <%= note.value.html_safe %>
              <% end %>
              </ul>
            <% end %>
        <% end %>
        </ul>
      </ul>
  <% end %>
