  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "National Species Lists",
                    nsl_path,
                    class: "bd-toc-link",
                    title: "National Species Lists" %>
        <%= link_to "Vascular Plants",
                    plants_path,
                    class: "bd-toc-link",
                    title: "Vascular Plants" %>
        <%= link_to "Names &mdash; APNI".html_safe,
                    plants_names_path,
                    class: "bd-toc-link",
                    title: "Vascular Plant Names" %>
        <ul class="nav bd-sidenav">
          <li class="">
            <%= link_to "APNI Search",
                        plants_names_search_path,
                        class: "",
                        title: "Simple APNI Search" %>
          </li>
          <li class="">
            <%= link_to "APNI Names within a Taxon",
                        plants_names_within_path,
                        class: "",
                        title: "APNI Search for names within a taxon" %>
          </li>
          <li class="">
            <%= link_to "APNI Checklist",
                        plants_names_checklist_path,
                        class: "",
                        title: "APNI Name Checklist Search" %>
          </li>
          <li class="active bd-sidenav-active">
            <%= link_to "APNI Advanced Search",
                        "#",
                        class: "",
                        title: "APNI Advanced Search" %>
          </li>
        </ul>
      </div>
  </nav>
