  <nav class="bd-links" id="docsNavbarContent">
      <div class="bd-toc-item active">
        <%= link_to "National Species Lists",
                    nsl_path,
                    class: "bd-toc-link",
                    title: "National Species Lists" %>
        <%= link_to "Vascular Plants",
                    plants_path,
                    class: "bd-toc-link",
                    title: "Vascular Plants" %>
                  <%= link_to "Names &mdash; #{name_label}".html_safe,
                    plants_names_path,
                    class: "bd-toc-link",
                    title: "Vascular Plant Names" %>
        <ul class="nav bd-sidenav">
          <li class="">
          <%= link_to "#{name_label} Search",
                        plants_names_search_path,
                        class: "",
                        title: "Simple #{name_label} Search" %>
          </li>
          <li class="">
          <%= link_to "#{name_label} Names within a Taxon",
                        plants_names_within_path,
                        class: "",
                        title: "#{name_label} Search for names within a taxon" %>
          </li>
          <li class="">
          <%= link_to "#{name_label} Checklist",
                        plants_names_checklist_path,
                        class: "",
                        title: "#{name_label} Name Checklist Search" %>
          </li>
          <li class="active bd-sidenav-active">
          <%= link_to "#{name_label} Advanced Search",
                        "#",
                        class: "",
                        title: "#{name_label} Advanced Search" %>
          </li>
        </ul>
      </div>
  </nav>
