<% search_form ||= params[:search_form] %>

  <% @results.names.each do |name| %>
    <h3 class="name-heading <%= params[:action] %>">
      <% if @client_request.family? && name.family_name != 'na' %>
        <div title="family name" class="family-name"><%= name.family_name %></div>
      <% end %>
      <% name_string = name.full_name %>
      <% unless name.name_status_name.blank? %>
        <% name_string += %(, <i class="highlight name-status" title="name status">#{name.name_status_name}</i>) %>
      <% end %>
      <% if @client_request.links? %>
        <%= link_to name_string.html_safe, show_name_path(id: name.id, search_form: search_form) + '#name-' + name.id, title: "Show name details in a new page" %>
        <%#= link_to '| edit', 'http://localhost:2014/search/name/id/", title: 'Edit' %>
      <% else %>
        <%= name_string.html_safe %>
      <% end %>
    </h3>

      <ul class="name-details plain indent3">
        <% curr_ref_id = -1 %>
        <% curr_page = '' %>
        <% name.usages.each do |usage| %>
          <% unless curr_ref_id == usage.reference_id && 
                    curr_page == usage.page %>
            <%= "</ul>".html_safe unless curr_ref_id == -1 %>
            <% curr_ref_id = usage.reference_id %>
            <% curr_page = usage.page %>
            <% if usage.misapplied? %>
              <li><%= usage.citation_for_misapplied %>
              <ul class="plain indent4">
            <% else %>
              <li><%= usage.full_citation_with_page %>
              <% if usage.accepted_in_tree? %>
                <span class='red' title='Accepted by APC'><i class="fa fa-check"></i>APC</span>
              <% end %>
              <% if usage.excluded_from_tree? %>
                <span class='red' title='Excluded by APC'><i class="fa fa-ban"></i>APC</span>
              <% end %>
              <ul class="plain indent4">
            <% end %>
          <% end %>
            <% usage.synonyms.each do |synonym| %>
              <li class="indent"><span class="synonym-type"><%= synonym.label %>:</span>
                <% if @client_request.links? %>
                  <span class="synonym <%= synonym.font_style %>">
                    <%= link_to synonym.full_name_html.html_safe,
                      show_name_path(id: synonym.name_id,
                                     search_form: search_form) + '#name-' + synonym.name_id,
                                    title: "Show name details in a new page" %>
                  </span>
                <% else %>
                  <span class="synonym <%= synonym.font_style %>"><%= synonym.full_name_html.html_safe %> <%= "#{synonym.name_status_name}" %></span>
                <% end %>




            <% end %>
            <% if usage.misapplied? %>
              <li>misapplied to:
                <%= usage.misapplied_to_name %>
                by
                <%= usage.misapplied_by_citation %>
                :
                <%= usage.misapplied_on_page %>
            <% end %>
            <% unless usage.notes.nil? %>
              <ul class="plain">
              <% usage.notes.each do |note| %>
                <li>
                <b><%= note.key %>:</b>
                <%= note.value.html_safe %>
              <% end %>
              </ul>
            <% end %>
            <div class="name-detail-entry-separator <%= params[:action] %>"></div>
        <% end %>
        </ul>
      </ul>
  <% end %>
