<% search_form ||= params[:search_form] %>

  <% @results.names.each do |name| %>
    <h3 class="name-heading <%= params[:action] %>">
      <% if @client_request.family? && name.family_name != 'na' %>
        <div title="family name" class="family-name"><%= name.family_name %></div>
      <% end %>
      <% name_string = name.full_name %>
      <% unless name.name_status_name.blank? %>
        <% name_string += %(, <i class="highlight name-status" title="name status">#{name.name_status_name}</i>) %>
      <% end %>
      <% if @client_request.links? %>
        <%= link_to name_string.html_safe, show_name_path(id: name.id, search_form: search_form) + '#name-' + name.id, title: "Show name details in a new page" %>
        <% if session[:editor] == true %>
          | <%= link_to 'edit', "#{Rails.configuration.instance_editor}/search?query_string=id%3A+#{name.id}+show-instances%3A&query_target=Name",
                      title: 'Open this name record in the NSL editor. Requires login.' %>
        <% end %>
      <% else %>
        <%= name_string.html_safe %>
      <% end %>
    </h3>

      <ul class="name-details plain indent3">
        <% name.name_usages.each do |usage| %>
          <% if @client_request.links? %>
            <%= render(partial: 'application/name_usages/with_links/name_usage', locals: {search_form: search_form, usage: usage}) %>
          <% else %>
            <%= render(partial: 'application/name_usages/without_links/name_usage', locals: {search_form: search_form, usage: usage}) %>
          <% end %>
        <% end %>
      </ul>

      <% if @client_request.links? %>
        <% if name.images? %>
          <%= link_to('<i class="fa fa-camera"></i>'.html_safe,
              name.image_link,
              class: "camera-icon",
              target: "new",
              title: "Show #{pluralize(name.image_count, 'image')} of #{name.simple_name}. Opens in a new tab or window.") %>
        <% end %>
      <% end %>
  <% end %>

  
