<% if @client_request.any_type_of_search? %>
  <% if @client_request.just_count? %>
    <%= pluralize(@results.count, 'matching record') %>
  <% else %>
    <% if @results.error? %>
         Error!
      <% if development? %>
         <br>
         <br>
         <%= @results.error %>
         <br>
         <br>
      <% end %>
    <% end %>
    <% unless @results.present? %>
    No records. 
    <% elapsed = Time.now - @start_time %>(<%= elapsed.round(2) %>s)
    <% end %>
  <% end %>
<% end %>

<% if @results.present? %>
  <div>
  <%= pluralize(@results.count,'matching record') %>
  <%#= pluralize(@results.size,'record') %>
  <br>
  <% if @results.count > @client_request.limit %>
    Page <%= page %> of <%= pages %>
  <% end %>
  </div>
  <hr>
<% end %>
