
  <ul class="plain">
  <% @results.taxa.each do |taxon| %>


    <li>
    <% taxon_name_string = taxon.full_name_html %>
    <% taxon_name_author_string =  taxon.full_name.slice(taxon.simple_name.length,1000) %>
    <% unless taxon.name_status_name.blank? %>
      <% taxon_name_string += %(, <i class="name-status" title="name status">#{taxon.name_status_name}</i>) %>
    <% end %>

    <% if taxon.cross_reference? %>
      <% if taxon.misapplication? %>
        <% if taxon.cross_reference_misapplication.pro_parte? %>
          <% pp_string = ', p.p.' %>
        <% else %>
          <% pp_string = '' %>
        <% end %>
        <% if @client_request.links? %>
          <%= link_to name_with_hybrid_symbol(taxon_name_string).html_safe,
                      show_name_path(id: taxon.id,
                                     search_form: 'names') + "#name-#{taxon.id}",
                      title: "Show name details" %>
          <i class="syntax-highlight cross-reference-sensu">sensu</i>
          <%= taxon.cross_reference_misapplication.misapplying_author_string_and_year -%><%= pp_string %>
        <% else %>
          <%= name_with_hybrid_symbol(taxon.full_name) %> <i class="syntax-highlight cross-reference-sensu">sensu</i>
          <%= taxon.cross_reference_misapplication.misapplying_author_string_and_year -%><%= pp_string %>
        <% end %>
      <% else %>
        <% if taxon.pro_parte? %>
          <% pp_string = ' p.p.' %>
        <% else %>
          <% pp_string = '' %>
        <% end %>
        <span class="cross-reference-name">
        <% if @client_request.links? %>
          <%= link_to name_with_hybrid_symbol(taxon_name_string).html_safe + pp_string.html_safe,
                         show_name_path(id: taxon.id,
                                        search_form: 'names') + "#name-#{taxon.id}",
                         title: "Show name details" %>
        <% else %>
          <%= name_with_hybrid_symbol(taxon_name_string).html_safe -%><%= pp_string %>
        <% end %>
        </span>
      <% end %>
      <%= '?' if taxon.cross_reference_misapplication.doubtful? -%>=
        <% if @client_request.links? %>
          <b><%= link_to name_with_hybrid_symbol(taxon.cross_referenced_full_name).html_safe,
                         show_name_path(id: taxon.cross_referenced_full_name_id,
                                        search_form: 'names') + "#name-#{taxon.cross_referenced_full_name_id}",
                         title: "Show name details" %></b>
        <% else %>
          <b><%= name_with_hybrid_symbol(taxon.cross_referenced_full_name).html_safe %></b>
        <% end %>
    <% else %>

      <% if @client_request.links? %>
        <%= link_to name_with_hybrid_symbol(taxon_name_string).html_safe, show_name_path(id: taxon.id, search_form: 'names') + "#name-#{taxon.id}", title: "Show name details" %>
      <% else %>
        <%= name_with_hybrid_symbol(taxon_name_string).html_safe %>
      <% end %>

      <% if taxon.excluded? %>
        <span class='red' title='Excluded by APC'><i class="fa fa-ban"></i>APC</span>
      <% end %>

       sensu <%= taxon.reference_citation %>

    <% end %>

    <% if @client_request.synonyms? %>
      <ul class="plain indent2">
        <% prev_misapp = '' %>
        <% syn_displayed = false %>
        <% taxon.synonyms.each do |syn| %>
          <% syn_displayed = true %>
          <% if syn.misapplied? %>
            <% if prev_misapp.blank? %>
              <br>
              <% prev_misapp = name_and_status(syn.simple_name, syn.name_status) %>
              [<%= name_and_status(name_with_hybrid_symbol(syn.simple_name), syn.name_status).html_safe %>
            &nbsp;<i class="syntax-highlight synonym-auct-non">auct. non</i> <%= syn.misapplication.name_author_string %>:
            <% else %>
              <% if prev_misapp == name_and_status(syn.simple_name, syn.name_status) %>
                <%# subsequent misapp %>
;
              <% else %>
]
                <br>
                [<%= name_and_status(name_with_hybrid_symbol(syn.simple_name), syn.name_status).html_safe %>
                <% prev_misapp = name_and_status(syn.simple_name, syn.name_status) %>
              <% end %>
            <% end %>
            <%= syn.misapplication.cites_reference_citation_html.html_safe -%>: <span class="synonym-page"><%= syn.misapplication.page -%></span>
          <% elsif syn.pro_parte? %>
            <% unless prev_misapp.blank? %>
              ']'
              <% prev_misapp = '' %>
            <% end %>
            <br>
            pro parte
            <%= name_and_status(name_with_hybrid_symbol(syn.full_name), syn.name_status).html_safe %>
          <% else %>
            <% unless prev_misapp.blank? %>
              ']'
              <% prev_misapp = '' %>
            <% end %>
            <br>
            <% if @client_request.links? %>
              <%= link_to name_and_status(name_with_hybrid_symbol(syn.full_name), syn.name_status).html_safe,
                          show_name_path(id: syn.name_id, search_form: 'names') + "#name-#{syn.name_id}",
                          title: "Show name with details" %>
            <% else %>
              <%= name_and_status(name_with_hybrid_symbol(syn.full_name), syn.name_status).html_safe %>
            <% end %>
          <% end %>
        <% end %>
        <% unless prev_misapp.blank? %>
          ]
          <% prev_misapp = '' %>
        <% end %>
      </ul>
      <% if syn_displayed %>
        <br>
      <% end %>
    <% end %>

    <ul class="plain indent2">

      <% if @client_request.comments? %>
        <% comments_displayed = false %>
        <% if taxon.accepted_taxon_comment? %>
            <% comments_displayed = true %>
            <li><%= taxon.accepted_taxon_comment.html_safe %>
        <% end %>
      <% end %>

      <% if @client_request.distribution? %>
        <% distribution_displayed = false %>
        <% if taxon.accepted_taxon_distribution? %>
            <% distribution_displayed = true %>
            <li><%= taxon.accepted_taxon_distribution %>
        <% end %>
      <% end %>

    </ul>
    <% if syn_displayed ||
          comments_displayed ||
          distribution_displayed %>
      <br>
    <% end %>
  <% end %>
  </ul>
