        <li class="tree-results compact">
            <span class="debug purple">[<%= nos.sort_name %>]</span>
            <%= link_to(nos[:full_name],
                        taxonomy_show_path(nos[:id]),
                        title: "Select to show Name details")
                      %>
            <% if nos.show_status? %>
              <span class="name-status" title="Name Status"><%= nos.status.name %></span>
            <% end %>
            <span title="Excluded from <%= tree_label %>"><%= fa_icon('ban', class: 'fa-lg red') %><%= tree_label %></span>
              <span class="small">
                <%= "sensu #{nos.reference.citation_html}".html_safe %>
              </span>
            <span class="debug purple">[<%#= nos.rank.name %>]</span>

              <%= render partial: "/taxonomy/accepted/search/citation_links", locals: {name: nos} %>

              <% if session[:taxonomy_details] %>
                  <%= render partial: "/taxonomy/accepted/search/accepted_name_details", locals: {name: nos, visible: true} %>
              <% else %>
                  <%= render partial: "/taxonomy/accepted/search/accepted_name_details", locals: {name: nos, visible: false} %>
              <% end %>
        </li>

