
 <li class="tree-results compact">
   <span class="synonym">
     <%= link_to(%Q(<i>#{synonym.simple_name}</i><span class="instance-type">&nbsp;auct. non</span>#{synonym.full_name.sub(/#{Regexp.escape(synonym.simple_name)}/,'')}:).html_safe,
                 taxonomy_show_path(synonym.id),
                 title: "Show bibliographic details") %>
     <span class="name-status"><%= synonym.status.name_to_show %></span>
     <%= synonym.synonym_cites.this_cites.reference.citation %>:
     <% if synonym.synonym_cites.this_cites.page.present? %>
       <%= synonym.synonym_cites.this_cites.page %>
     <% else %>
       <%= synonym.synonym_cites.this_cites.reference.edition %>: 
     <% end %>
   </span>
   <%= render partial: "/taxonomy/accepted/search/citation_links", locals: {name: synonym} %>
   <%= '&nbsp;<span class="pro-parte">p.p.</span>'.html_safe if synonym.synonym_type.pro_parte? %>
   =
   <strong>
     <%= link_to("#{synonym.accepted_full_name}",
                 taxonomy_show_path(synonym.accepted_id),
                 title: "Show bibliographic details") %>
   </strong>
   [fide <%= synonym.synonym_ref.author.name %> (<%= synonym.synonym_ref.year %>)]
 </li>

