
 <li class="tree-results compact">
   <span class="synonym">
     <%= link_to(synonym.full_name_html.html_safe,
                 taxonomy_show_path(synonym.id),
                 title: "Show bibliographic details") %>
     <span class="name-status"><%= synonym.status.name_to_show %></span>
   </span>
   <%= render partial: "/taxonomy/accepted/search/citation_links", locals: {name: synonym} %>
   <%= '&nbsp;<span class="pro-parte">p.p.</span>'.html_safe if synonym.synonym_type.pro_parte? %>
   =
   <strong>
     <%= link_to("#{synonym.accepted_full_name}",
                 taxonomy_show_path(synonym.accepted_id),
                 title: "Show bibliographic details") %>
   </strong>
 </li>

