<% content_for :page_title do %>
  Taxonomy Search
<% end %>
<% content_for :page_banner do %>
  <h1 class="hidden-sm-down"><%= ShardConfig.tree_banner_text %></h1>
  <h1 class="hidden-md-up"><%= ShardConfig.classification_tree_key %></h1>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>

<div id="about-page" class="no-left-padding hidden-xs-up col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <h5>About</h5>
  <div id="about-page-inner" class="no-left-padding col-xl-7 col-lg-9 col-md-10">
  </div>
</div>

<div class="not-about-page">
  <%= render "taxonomy/accepted/search/form" %>

  <% if @search.present? %>
    <%= "<span class='search-result-summary'>#{pluralize(@search.results.size, 'name')}</span>".html_safe %>
  <% end %>

  <% if @search.present? %>
    <%= render partial: 'results', locals: {name: @search.results.first} %>
  <% end %>
</div>

<br/>
<span class="debug tiny hidden-print">[taxonomy/accepted/search/index]</span>

