    <nav class="nav navbar-nav">
      <%= link_to("Biodiversity Australia", "/", class: "nav-item nav-link") %>
      <%= link_to("Vascular Plants", plants_path, class: "nav-item nav-link") %>
      <%= link_to("Mosses", mosses_path, class: "nav-item nav-link") %>
      <%= link_to("Fungi", fungi_path, class: "nav-item nav-link") %>
      <%= link_to("Lichens", lichens_path, class: "nav-item nav-link") %>
      <%= link_to("Algae", algae_path, class: "nav-item nav-link") %>
    </nav>

