<% if @search.present? %>
<div id="search-tools-slider" class="<%= 'hidden' unless @search.present? %> hidden-print">
      <div class="bd-toc-item active">
        <ul class="nav bd-sidenav">
          <li class="">
            <%= link_to %(List &nbsp; #{fa_icon('check') if @search.parsed.show_list?}).html_safe,
                        plants_taxonomy_accepted_search_excluded_path(q: params['q'], show_results_as: "list"),
                        class: "tiny",
                        title: "Re-run the search as a list." %>
          </li>
          <li class="">
            <%= link_to %(Details &nbsp; #{fa_icon('check') if @search.parsed.show_details?}).html_safe,
                        plants_taxonomy_accepted_search_excluded_path(q: params['q'], show_results_as: "details"),
                        class: "tiny needs-details-limit",
                        title: "Re-run the search showing details." %>
            <input type="number"
                   min="1"
                   max="1000"
                   step="1"
                   value="<%= session[:default_details_limit] %>"
                   name="details-limit"
                   id="details-limit-field"
                   class="">
          </li>
          <hr/>
          <li>
            <a href="javascript:window.print()"
               class="tiny"
               title="Print the page">Print</a>
          </li>
        </ul>
          <hr/>
            <a href="javascript:history.go(-1);"
               class="micro"
               title="Go back one page"><%= fa_stacked_icon "chevron-left inverse", base: "square" %></a>
            <a href="#top"
               class="micro"
               title="Go to the top of the page"><%= fa_stacked_icon "chevron-up inverse", base: "square" %></a>
            <a href="#footer"
               class="micro"
               title="Go to the bottom of the page"><%= fa_stacked_icon "chevron-down inverse", base: "square" %></a>
            <a href="javascript:history.go(1);"
               class="micro"
               title="Go forward one page"><%= fa_stacked_icon "chevron-right inverse", base: "square" %></a>
  </div>
    <br/>
      <span class="debug tiny hidden-print">
        app/views/layouts/_slider
      </span>
</div>
<% end %>

