<% if @search.present? %>
<div id="tool-tray" class="<%= 'hidden' unless @search.present? %> hidden-print">
      <div class="bd-toc-item active">
        <ul class="nav bd-sidenav">
          <li class=""><pre><%= params[:q] %></pre></li>
          <hr/>
          <li class="">
            <%= link_to "Scientific",
                        plants_names_search_scientific_path(q: params["q"], nt: "s"),
                        class: "tiny",
                        title: "Run the currently displayed search again for scientific names.  Open the scientific search page if no currently displayed search." %>
          </li>
          <li class="">
            <%= link_to "Cultivar",
                        plants_names_search_cultivar_path(q: params['q'], nt: "v"),
                        class: "tiny",
                        title: "Run the currently displayed search again for cultivar names.  Open the Cultivar search page if no currently displayed search." %>
          </li>
          <li class="">
            <%= link_to "Common",
                        plants_names_search_common_path(q: params['q'], nt: 'c'),
                        class: "tiny",
                        title: "Run the currently displayed search again for common names.  Open the Common Name search page if no currently displayed search." %>
          </li>
          <li class="">
            <%= link_to "All",
                        plants_names_search_all_path(q: params['q']),
                        class: "tiny",
                        title: "Run the currently displayed search again for all names.  Open the search page for all names if no currently displayed search." %>
          </li>
          <hr/>
          <li class="">
            <%= link_to %(List &nbsp; #{fa_icon('check') if @search.parsed.show_list?}).html_safe,
                        plants_names_search_path(q: params['q'], pc: params[:controller], show_results_as: 'list'),
                        class: "tiny",
                        title: "Re-run the search as a list." %>
          </li>
          <li class="">
            <%= link_to %(Details &nbsp; #{fa_icon('check') if @search.parsed.show_details?}).html_safe,
                        plants_names_search_path(q: params['q'], pc: params[:controller], show_results_as: 'details'),
                        class: "tiny",
                        title: "Re-run the search showing details." %>
          </li>
          <hr/>
          <li>
            <a href="#top"
               class="tiny"
               title="Go to the top of the page">Top</a> / 
            <a href="#footer"
               class="tiny"
               title="Go to the bottom of the page">Bottom</a>
          <li>
            <%= link_to "Back", 'javascript:history.go(-1);', class:"tiny", title: "Go back 1 page" %> /
            <%= link_to "Forward", 'javascript:history.go(1);', class:"tiny", title: "Go forward 1 page" %>
          </li>
            <a href="javascript:void(0)"
               class="tiny nav-new-search"
               title="Go to the search field and clear it">New Search</a>
          </li>
          <hr/>
          <li>
            <a href="javascript:window.print()"
               class="tiny"
               title="Print the page">Print</a>
          </li>
        </ul>
  </div>
</div>
<% end %>

