<!DOCTYPE html>
<html>
<head>
  <title>SearchClientGraphql</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script>
    window.relative_url_root = "<%= Rails.application.config.relative_url_root %>";
  </script>
  <style media="print">
     body {color:#000000;
           background-color:#FFFFFF;} 
     .no-print {display: none;}
  </style>
      <% if development? %>
<style>
a:not([title]),
select:not([title]),
textarea:not([title]),
input:not([title]) {
  background: red;
}

input[type="checkbox"]:not([title]),
label:not([title]) {
  background: purple;
  color: red;
  border: 2px solid black;
  width: 16px;
  height: 16px;
}

i.xsynonym-auct-non {
  color: white;
  background: red;
  font-weight: bold;
}

i.xcross-reference-sensu {
  color: white;
  background: purple;
  font-weight: bold;
}

span.xsynonym-page {
  color: white;
  background: red;
  font-weight: bold;
}

</style>

    <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
