<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    <% if Rails.configuration.try('display_as_test') == true %>
      Test
    <% elsif Rails.env.match(/development/) %>
      Dev
    <% end %>
    <%= yield :page_title %>
  </title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, async: true, defer: true %>
  <%= stylesheet_link_tag 'application',
                          media: 'all',
                          'data-turbolinks-track' => true %>
  <% if Rails.env == "development" || params[:debug] == 'true' %>
      <script> debugSwitch = true; </script>
  <% else %>
      <script> debugSwitch = false; </script>
  <% end %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <% if Rails.configuration.try('display_as_test') == true %>
      <style>
        body {background: #e6e6fa; }
        #footer {background: #e6e6fa;
                 border-top: 1px solid black;}
      </style>
    <% end %>
    <% if Rails.configuration.try('session_key_tag').try('match','/dev/i') %> 
<style>
a:not([title]),
select:not([title]),
textarea:not([title]),
input:not([title]) {
  background: red;
}

input[type="checkbox"]:not([title]) {
  display: none;
}
</style>

    <% end %>

</head>

<body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">
  <a id="skippy" class="sr-only sr-only-focusable" href="#content">
    <div class="container-fluid">
      <span class="skiplink-text">Skip to main content</span>
    </div>
  </a>
  <a id="top"></a>

  <header class="navbar navbar-light navbar-static-top bd-navbar">
    <div class="clearfix">
      <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">
        &#9776;
      </button>
      <a class="navbar-brand hidden-sm-up" href="/">
        Search
      </a>
    </div>
    <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
      <%= render 'layouts/nav_links' %>
    </div>
  </header>

<div id="wrapper">
  <div id="header" class="boa-pageheader <%= @zone %>">
    <div class="container-fluid print">
      <div class="left-page-edge-padding md-12 bd-content">
        <%= yield :page_banner %>
      </div>
    </div>
  </div>

  <div id="content" class="container-fluid">

      <% if @system_broadcast.present? && !@system_broadcast.match(/This is the test instance./) %> 
        <%= render partial: "broadcast" %>
      <% end %>

      <div class="row">
        <!--
        <div class="no-left-padding col-md-3 col-xl-2 bd-sidebar">
          <div class="left-page-edge-sidebar-padding bd-sidebar hidden-print">
            <%#= yield :sidebar %>
            <%#= yield :slider %>
          </div>
        </div>
        -->
        
        <div class="debug col-md-4 bd-content">
          <%= yield %>
        </div>

      </div>

  </div>

  <div id="footer" class="boa-footer text-muted hidden-print" role="contentinfo">
    <div class="container-fluid">
      <ul class="boa-footer-links">
        <li>
           <%= link_to "#{ fa_icon('chevron-left')} Back".html_safe, 'javascript:history.go(-1);', title: "Go back 1 page" %>
        </li>
        <li><a href="https://github.com/bio-org-au">GitHub</a></li>
        <li><a href="https://twitter.com/AuBiodiversity">Twitter</a></li>
        <li><%= link_to "Changes", changes_path, title:"Changes to the application" %></li>
        <li><%= link_to "Editor #{fa_icon('check', id: 'editor-toggle-switch-indicator', class: session[:editor] ? '' : 'hidden-xs-up')}".html_safe,
                        editor_path,
                        title:"Editor links on/off switch.",
                        method: :post,
                        remote: true %>
        <li><%= link_to "Citations #{fa_icon('check',
                        id: 'citations-toggle-switch-indicator',
                        class: session[:citations] ? '' : 'hidden-xs-up')}".html_safe,
                        citations_path,
                        title:"Citations links on/off switch.",
                        method: :post,
                        remote: true %>
        </li>
      </ul>
      <p>Designed and built at the 
      <%= link_to("Australian National Botanic Gardens (ANBG)", "http://www.anbg.gov.au", title: "Australian National Botanic Gardens web page") %>.
      </p>
      <br/>
    <span id="media-screen-xs" class="media-spec ">xs</span>
    <span id="media-screen-sm" class="media-spec ">sm</span>
    <span id="media-screen-md" class="media-spec ">md</span>
    <span id="media-screen-lg" class="media-spec ">lg</span>
    <span id="media-screen-xl" class="media-spec ">xl</span>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://www.anbg.gov.au/25jira/s/d41d8cd98f00b204e9800998ecf8427e/en-p174ip-1988229788/6265/3/1.4.7/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=2cb86c1a"></script>

</body>
</html>
