<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %></title>

  <%= stylesheet_link_tag 'application',
                          media: 'all',
                          'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

<header class="navbar navbar-light navbar-static-top bd-navbar" role="banner">
  <div class="clearfix">
    <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">
      &#9776;
    </button>
    <a class="navbar-brand hidden-sm-up" href="/">
      APNI/APC
    </a>
  </div>
  <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
    <%= render 'layouts/nav_links' %>
  </div>
</header>

<div id="wrapper">
<div id="header" class="boa-pageheader">
  <div class="container">
    <%= yield :page_banner %>
  </div>
</div>

<div id="content">
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-push-9 bd-sidebar">
      <div class="bd-sidebar">
        <%#= render partial: 'layouts/sidebar' %>
        <%= yield :sidebar %>
      </div>
    </div>

    <div class="col-md-9 col-md-pull-3 bd-content">
      <%= yield %>
    </div>
  </div>
</div>
</div>

<div id="footer" class="boa-footer text-muted" role="contentinfo">
  <div class="container">
    <ul class="boa-footer-links">
      <li><a href="https://github.com/bio-org-au">GitHub</a></li>
      <li><a href="https://twitter.com/AuBiodiversity">Twitter</a></li>
      <li><a href="/about/history/">About</a></li>
    </ul>
    <p>Designed and built at the 
    <%= link_to("Australian National Botanic Gardens (ANBG)", "http://www.anbg.gov.au", title: "Australian National Botanic Gardens web page") %>.
    </p>
    <br/>
  </div>
</div>

</div>

<script>
Holder.addTheme('gray', {
  background: '#777',
  foreground: 'rgba(255,255,255,.75)',
  font: 'Helvetica',
  fontweight: 'normal'
})
</script>

  </body>
</html>
