<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield :page_title %></title>

  <%= stylesheet_link_tag 'application',
                          media: 'all',
                          'data-turbolinks-track' => true %>
  <% if Rails.env == "development" || params[:debug] == 'true' %>
      <script> debugSwitch = true; </script>
  <% else %>
      <script> debugSwitch = false; </script>
  <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, async: true, defer: true %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <%= csrf_meta_tags %>
  <% if Rails.configuration.try('display_as_test') == true %>
      <style>
        body {background: #e6e6fa; }
        #footer {background: #e6e6fa;
                 border-top: 1px solid black;}
      </style>
    <% end %>
    <% if Rails.configuration.try('session_key_tag').try('match','/dev/i') %> 
<style>
a:not([title]),
select:not([title]),
textarea:not([title]),
input:not([title]) {
  background: red;
}

input[type="checkbox"]:not([title]) {
  display: none;
}
</style>

    <% end %>

</head>

<body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">
  <a id="skippy" class="sr-only sr-only-focusable" href="#content">
    <div class="container-fluid">
      <span class="skiplink-text">Skip to main content</span>
    </div>
  </a>
  <a id="top"></a>

  <header class="navbar navbar-light navbar-static-top bd-navbar">
    <div class="clearfix">
      <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">
        &#9776;
      </button>
      <a class="navbar-brand hidden-sm-up" href="/">
        APNI/APC
      </a>
    </div>
    <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
      <%= render 'layouts/nav_links' %>
    </div>
  </header>

<div id="wrapper">
  <div id="header" class="boa-pageheader <%= @zone %>">
    <div class="container-fluid print">
      <div class="col-md-12 bd-content">
        <%= yield :page_banner %>
      </div>
    </div>
  </div>

  <div id="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-md-push-10 bd-sidebar">
          <div class="bd-sidebar hidden-print">
            <%= yield :sidebar %>
            <%= yield :slider %>
          </div>
        </div>

        <% if @system_broadcast.present? && !@system_broadcast.match(/This is the test instance./) %> 
        <div class="col-xs-10 col-sm-11 col-md-7 col-md-pull-3 col-lg-5 col-xl-6 bd-content">
          <div id="broadcast">
            <%= @system_broadcast %>
          </div>
        </div>
        <% end %>
        <div class="col-md-9 col-md-pull-3 bd-content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <div id="footer" class="boa-footer text-muted hidden-print" role="contentinfo">
    <div class="container-fluid">
      <ul class="boa-footer-links">
        <li>
           <%= link_to "#{ fa_icon('chevron-left')} Back".html_safe, 'javascript:history.go(-1);', title: "Go back 1 page" %>
        </li>
        <li><a href="https://github.com/bio-org-au">GitHub</a></li>
        <li><a href="https://twitter.com/AuBiodiversity">Twitter</a></li>
        <li><a href="/about/history/">About</a></li>
        <li><%= link_to "Changes", changes_path, title:"Changes to the application" %></li>
        <li><%= link_to "Editor #{fa_icon('check', id: 'editor-toggle-switch-indicator', class: session[:editor] ? '' : 'hidden-xs-up')}".html_safe,
                        editor_path,
                        title:"Editor links on/off switch.",
                        method: :post,
                        remote: true %>
        <li><%= link_to "Citations #{fa_icon('check',
                        id: 'citations-toggle-switch-indicator',
                        class: session[:citations] ? '' : 'hidden-xs-up')}".html_safe,
                        citations_path,
                        title:"Citations links on/off switch.",
                        method: :post,
                        remote: true %>
        </li>
      </ul>
      <p>Designed and built at the 
      <%= link_to("Australian National Botanic Gardens (ANBG)", "http://www.anbg.gov.au", title: "Australian National Botanic Gardens web page") %>.
      </p>
      <br/>
      <span class="debug hidden-print">
        <% if @search.present? && @search.results.present? %>
          <%= @search.results.try("to_sql") %>
        <% end %>
      </span>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://www.anbg.gov.au/25jira/s/d41d8cd98f00b204e9800998ecf8427e/en-p174ip-1988229788/6265/3/1.4.7/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=ff55c94b"></script>

</body>
</html>
